{
  "openapi": "3.0.1",
  "info": {
    "title": "NetSuite REST Record API",
    "description": "NetSuite REST Record API generated 2024-05-24 at 12:35:03 UTC for account TSTDRV1303059, user joe.klug@peregrineconnect.com with role Neuron ESB Integration.",
    "termsOfService": "http://www.netsuite.com/portal/resource/terms-of-service.shtml",
    "contact": {
      "name": "Oracle NetSuite",
      "url": "http://www.netsuite.com",
      "email": "info@netsuite.com"
    },
    "version": "v1",
    "x-framework": {
      "name": "oracle-netsuite-suitetalk-rest"
    }
  },
  "servers": [
    {
      "url": "https://tstdrv1303059.suitetalk.api.netsuite.com/services/rest/record/v1"
    }
  ],
  "paths": {
    "/inventoryItem": {
      "get": {
        "tags": [
          "InventoryItem"
        ],
        "summary": "Get list of records.",
        "operationId": "inventoryItemGET",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query that is used to filter results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit used to specify the number of results on a single page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset used for selecting a specific page of results.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of records.",
            "content": {
              "application/vnd.oracle.resource+json; type=collection": {
                "schema": {
                  "$ref": "#/components/schemas/inventoryItemCollection"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "InventoryItem"
        ],
        "summary": "Insert record.",
        "operationId": "inventoryItemPOST",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/inventoryItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Inserted record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/inventoryItem/{id}": {
      "get": {
        "tags": [
          "InventoryItem"
        ],
        "summary": "Get record.",
        "operationId": "inventoryItemGET2",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "expandSubResources",
            "in": "query",
            "description": "Set to 'true' to automatically expand all sublists, sublist lines, and subrecords on this record.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "simpleEnumFormat",
            "in": "query",
            "description": "Set to true to return enumeration values in a format that only shows the internal ID value.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The names of the fields and sublists on the record. Only the selected fields and sublists will be returned in the response.",
            "examples": {
              "multiple fields": {
                "value": "field1,field2"
              },
              "single field": {
                "value": "field"
              }
            },
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved record.",
            "headers": {
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/inventoryItem"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "InventoryItem"
        ],
        "summary": "Insert or update record.",
        "operationId": "inventoryItemPUT",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "External identifier.",
            "schema": {
              "type": "string",
              "pattern": "eid:(.+)"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replaceSelectedFields",
            "in": "query",
            "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/inventoryItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Upserted record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "InventoryItem"
        ],
        "summary": "Remove record.",
        "operationId": "inventoryItemDELETE",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed record."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "InventoryItem"
        ],
        "summary": "Update record.",
        "operationId": "inventoryItemPATCH",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replaceSelectedFields",
            "in": "query",
            "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/inventoryItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Updated record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "inventoryItem-price": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inventoryItem-priceElement"
            }
          }
        }
      },
      "nsResourceCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/nsResource"
            }
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          }
        }
      },
      "nsResource": {
        "type": "object",
        "properties": {
          "id": {
            "title": "Internal identifier",
            "type": "string"
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "externalId": {
            "title": "External identifier",
            "type": "string"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          }
        }
      },
      "inventoryItem-correlatedItemsElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "liftFld": {
            "title": "Lift %",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "purchaseRateFld": {
            "title": "Overall Purchase Rate",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "itemNKeyFld": {
            "title": "Item",
            "type": "string",
            "nullable": true
          },
          "countFld": {
            "title": "Count",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "correlationFld": {
            "title": "Correlation %",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          }
        },
        "x-ns-filterable": []
      },
      "inventoryItemCollection": {
        "type": "object",
        "properties": {
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "An array field that represents a collection of elements, for example, sublist lines, multiselect items, or search results.",
            "items": {
              "$ref": "#/components/schemas/inventoryItem"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          }
        }
      },
      "nsError": {
        "type": "object",
        "properties": {
          "type": {
            "title": "Type",
            "type": "string",
            "readOnly": true,
            "description": "A URI reference to the documentation about the problem type.",
            "format": "URI"
          },
          "title": {
            "title": "Title",
            "type": "string",
            "readOnly": true,
            "description": "A human-readable description of the problem type."
          },
          "status": {
            "title": "Status",
            "type": "integer",
            "readOnly": true,
            "description": "The HTTP status code generated by the server the request originates from.",
            "format": "int32"
          },
          "o:errorDetails": {
            "type": "array",
            "readOnly": true,
            "description": "An array containing one or more problem types.",
            "items": {
              "type": "object",
              "properties": {
                "detail": {
                  "title": "Detail",
                  "type": "string",
                  "readOnly": true,
                  "description": "A detailed, human-readable description of the problem occurrence."
                },
                "o:errorPath": {
                  "title": "Error Path",
                  "type": "string",
                  "readOnly": true,
                  "description": "The JSON path that indicates where the problem occurs within the request body.",
                  "format": "JSONPath"
                },
                "o:errorUrl": {
                  "title": "Error URL",
                  "type": "string",
                  "readOnly": true,
                  "description": "The URI of the first element in the request URL where the problem occurs.",
                  "format": "URI"
                },
                "o:errorHeader": {
                  "title": "Error Header",
                  "type": "string",
                  "readOnly": true,
                  "description": "The name of the HTTP header where the problem occurs."
                },
                "o:errorQueryParam": {
                  "title": "Error Query Parameter",
                  "type": "string",
                  "readOnly": true,
                  "description": "The name of the query parameter where the problem occurs."
                },
                "o:errorCode": {
                  "title": "Error Code",
                  "type": "string",
                  "readOnly": true,
                  "description": "The application-specific error code. Similar problem types are grouped together."
                }
              }
            }
          }
        }
      },
      "nsLink": {
        "type": "object",
        "properties": {
          "rel": {
            "title": "Relationship",
            "type": "string",
            "readOnly": true
          },
          "href": {
            "title": "Hypertext Reference",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "inventoryItem-presentationItemCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inventoryItem-presentationItemElement"
            }
          }
        }
      },
      "inventoryItem-siteCategoryElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "webSite": {
            "$ref": "#/components/schemas/nsResource"
          },
          "category": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "inventoryItem-itemVendorElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "preferredVendor": {
            "title": "Preferred",
            "type": "boolean"
          },
          "vendorCurrencyName": {
            "title": "Currency",
            "type": "string",
            "nullable": true
          },
          "vendorCode": {
            "title": "Code",
            "type": "string",
            "nullable": true
          },
          "purchasePrice": {
            "title": "Purchase Price",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "subsidiary": {
            "$ref": "#/components/schemas/nsResource"
          },
          "schedule": {
            "$ref": "#/components/schemas/nsResource"
          },
          "vendor": {
            "$ref": "#/components/schemas/nsResource"
          },
          "itemVendorPrice": {
            "$ref": "#/components/schemas/inventoryItem-itemVendor-itemVendorPrice"
          }
        },
        "x-ns-filterable": []
      },
      "inventoryItem-itemVendor-itemVendorPrice-itemvendorpricelinesCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inventoryItem-itemVendor-itemVendorPrice-itemvendorpricelinesElement"
            }
          }
        }
      },
      "inventoryItem-translationsCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inventoryItem-translationsElement"
            }
          }
        }
      },
      "inventoryItem-locationsElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "quantityOnHand": {
            "title": "Quantity On Hand",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "onHandValueMli": {
            "title": "Value",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "quantityInTransit": {
            "title": "Quantity In Transit",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "quantityOnHandBase": {
            "title": "Quantity On Hand (Base Unit)",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "reorderPoint": {
            "title": "Reorder Point",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "averageCostMli": {
            "title": "Average Cost",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "preferredStockLevel": {
            "title": "Preferred Stock Level",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "location_display": {
            "title": "Location",
            "type": "string",
            "nullable": true
          },
          "lastPurchasePriceMli": {
            "title": "Last Purchase Price",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "defaultReturnCost": {
            "title": "Default Return Cost",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "quantityAvailable": {
            "title": "Quantity Available",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "quantityCommitted": {
            "title": "Quantity Committed",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "locationId": {
            "title": "Location",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "quantityOnOrder": {
            "title": "Quantity On Order",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "quantityBackOrdered": {
            "title": "Quantity Back Ordered",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "quantityAvailableBase": {
            "title": "Quantity Available (Base Unit)",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "costAccountingStatus": {
            "title": "Cost Accounting Status",
            "type": "string",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "inventoryItem-itemVendor-itemVendorPrice-itemvendorpricelinesElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "id": {
            "title": "ID",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "vendorprice": {
            "title": "Purchase Price",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "vendorCost": {
            "title": "Vendor Cost",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "vendorcurrency": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "inventoryItem-locationsCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inventoryItem-locationsElement"
            }
          }
        }
      },
      "inventoryItem-translationsElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "featuredDescription": {
            "title": "Featured Description",
            "type": "string",
            "nullable": true
          },
          "outOfStockMessage": {
            "title": "Out Of Stock Message",
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "title": "Display Name",
            "type": "string",
            "nullable": true
          },
          "specialsDescription": {
            "title": "Special Description",
            "type": "string",
            "nullable": true
          },
          "storeDisplayName": {
            "title": "Store Display Name",
            "type": "string",
            "nullable": true
          },
          "language": {
            "title": "Language",
            "type": "string",
            "nullable": true
          },
          "storeDescription": {
            "title": "Store Description",
            "type": "string",
            "nullable": true
          },
          "noPriceMessage": {
            "title": "No Price Message",
            "type": "string",
            "nullable": true
          },
          "pageTitle": {
            "title": "Page Title",
            "type": "string",
            "nullable": true
          },
          "locale": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "it_CH",
                  "en_TC",
                  "af_ZA",
                  "es_EA",
                  "es_EC",
                  "pt_BR",
                  "en_CY",
                  "fr_LU",
                  "nl_AN",
                  "es_UY",
                  "en_TT",
                  "es_ES",
                  "pt_ST",
                  "en_DM",
                  "en_TZ",
                  "es_ES_EURO",
                  "fr_ML",
                  "de_DE_onLQA",
                  "es_VE",
                  "nl_BE",
                  "da_DK",
                  "pt_AO",
                  "to_TO",
                  "en_UG",
                  "am_ET",
                  "ss_SZ",
                  "nl_BQ",
                  "ar",
                  "pt_AW",
                  "ko_KR",
                  "en_US",
                  "fr_BE_EURO",
                  "ko_KP",
                  "si_AQ",
                  "fr_MG",
                  "el_GR",
                  "be_BY",
                  "en_AU",
                  "he_IL",
                  "en_AW",
                  "es_SV",
                  "en_BB",
                  "ar_YE",
                  "es_CO",
                  "es_CL",
                  "en_BM",
                  "es_CR",
                  "pa_IN",
                  "en_SC",
                  "en_BS",
                  "sm_WS",
                  "it_IT_EURO",
                  "fr_KM",
                  "es_CU",
                  "en_SB",
                  "en_SG",
                  "en_BW",
                  "en_SH",
                  "en_BZ",
                  "en_SL",
                  "az_AZ",
                  "fi_FI",
                  "en_SS",
                  "sr_YU",
                  "en_CD",
                  "en_CA",
                  "ka_GE",
                  "lv_LV",
                  "uk_UA",
                  "es_DO",
                  "ur_PK",
                  "ar_IQ",
                  "fr_LU_EURO",
                  "pt_PT",
                  "fr_FR_EURO",
                  "en_PH",
                  "th_TH",
                  "bn_BD",
                  "si_LK",
                  "en_PG",
                  "hu_HU",
                  "ar_SA",
                  "ar_SD",
                  "ru_KZ",
                  "ar_BH",
                  "nl_BE_EURO",
                  "ro_MD",
                  "en_QA",
                  "ru_KG",
                  "es_AR",
                  "ta_IN",
                  "sr_RS",
                  "aa_ER",
                  "en",
                  "de_DE_EURO",
                  "zh_MO",
                  "en_AE",
                  "ar_SY",
                  "es_BO",
                  "en_AI",
                  "no_NO",
                  "en_AG",
                  "nl_SR",
                  "fr_VU",
                  "en_MW",
                  "gu_AQ",
                  "ar_TN",
                  "nl_SX",
                  "hi_IN",
                  "en_NA",
                  "mn_MN",
                  "en_NG",
                  "fr_FR",
                  "ms_MY",
                  "nl_CW",
                  "uz_UZ",
                  "ar_DJ",
                  "sr_CS",
                  "de_AT_EURO",
                  "en_NZ",
                  "es_PE",
                  "es_PA",
                  "fa_IR",
                  "ar_DZ",
                  "fr_GN",
                  "lb_LU",
                  "xx_US",
                  "pt_CV",
                  "sh_RS",
                  "ht_HT",
                  "fr_WF",
                  "es_AR_onLQA",
                  "es_PR",
                  "ar_EG",
                  "es_PY",
                  "fr_GA",
                  "en_KW",
                  "de_AT",
                  "ro_RO",
                  "en_KY",
                  "fr_FR_onLQA",
                  "fr_DJ",
                  "ca_ES_EURO",
                  "cs_CZ",
                  "en_LC",
                  "pl_AQ",
                  "fr_TD",
                  "fr_TG",
                  "es_MX",
                  "sv_AX",
                  "sk_SK",
                  "en_LR",
                  "en_LS",
                  "ar_OM",
                  "dz_BT",
                  "te_IN",
                  "de_LU_EURO",
                  "sq_AL",
                  "sv_SE",
                  "sn_ZW",
                  "es_NI",
                  "en_IE_EURO",
                  "my_MM",
                  "en_MF",
                  "en_MU",
                  "it_IT",
                  "pl_PL",
                  "fr_BE",
                  "fr_BF",
                  "tr_TR",
                  "fr_BI",
                  "fr_BJ",
                  "id_ID",
                  "fr_RW",
                  "en_ZM",
                  "km_KH",
                  "ja_JP",
                  "de_DE",
                  "fr_BL",
                  "tg_TJ",
                  "ar_QA",
                  "de_CH",
                  "zh_HK",
                  "pt_PT_EURO",
                  "en_JO",
                  "en_JM",
                  "fr_CA",
                  "nl_NL_EURO",
                  "fr_CF",
                  "fr_CG",
                  "fr_CD",
                  "pa_AQ",
                  "fr_CH",
                  "xx_US_wthId",
                  "fr_CI",
                  "pt_GW",
                  "vi_VN",
                  "ru_MD",
                  "fr_CM",
                  "fr_SC",
                  "en_KE",
                  "ne_NP",
                  "bs_BA",
                  "sl_SI",
                  "en_KN",
                  "fr_SN",
                  "ar_AE",
                  "en_GY",
                  "tl_PH",
                  "ca_ES",
                  "es_IC",
                  "lo_LA",
                  "kn_IN",
                  "so_SO",
                  "fr_PF",
                  "ar_JO",
                  "nl_NL",
                  "is_IS",
                  "fi_FI_EURO",
                  "pt_MZ",
                  "sk_SK_EURO",
                  "sl_SI_EURO",
                  "en_IE",
                  "ms_BN",
                  "hr_HR",
                  "ar_KW",
                  "de_LU",
                  "lt_LT",
                  "en_IN",
                  "ps_AF",
                  "en_ZA",
                  "en_VC",
                  "ru_RU",
                  "sh_YU",
                  "ar_LB",
                  "mr_IN",
                  "dv_MV",
                  "fj_FJ",
                  "zh_TW",
                  "tk_TM",
                  "ar_LY",
                  "en_VU",
                  "fr_NE",
                  "en_FK",
                  "es_GT",
                  "fr_NC",
                  "es_GQ",
                  "fa_AF",
                  "bg_BG",
                  "hy_AM",
                  "en_CY_EURO",
                  "mk_MK",
                  "ar_MA",
                  "en_GD",
                  "en_GB",
                  "es_HN",
                  "gu_IN",
                  "en_GH",
                  "et_EE",
                  "en_GI",
                  "zh_CN",
                  "en_GM",
                  "ar_MR"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "storeDetailedDescription": {
            "title": "Detailed Description",
            "type": "string",
            "nullable": true
          },
          "salesDescription": {
            "title": "Sales Description",
            "type": "string",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          }
        },
        "x-ns-filterable": []
      },
      "inventoryItem-itemVendor-itemVendorPrice": {
        "type": "object",
        "properties": {
          "externalId": {
            "title": "External ID",
            "type": "string",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "itemvendorpricelines": {
            "$ref": "#/components/schemas/inventoryItem-itemVendor-itemVendorPrice-itemvendorpricelinesCollection"
          }
        },
        "x-ns-filterable": []
      },
      "inventoryItem-siteCategoryCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inventoryItem-siteCategoryElement"
            }
          }
        }
      },
      "inventoryItem-itemVendorCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inventoryItem-itemVendorElement"
            }
          }
        }
      },
      "inventoryItem-priceElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "isInactive": {
            "title": "Inactive",
            "type": "boolean",
            "description": "When you check this box, this item will no longer appear on a list unless you check the Show All box at the bottom of the list page."
          },
          "quantity": {
            "properties": {
              "value": {
                "title": "Value",
                "type": "string"
              }
            }
          },
          "priceQty": {
            "title": "Sequence Number",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "price": {
            "title": "Amount",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "discountDisplay": {
            "title": "Default Discount %",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "priceLevelName": {
            "title": "Price Level",
            "type": "string",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "priceLevel": {
            "$ref": "#/components/schemas/nsResource"
          },
          "currencyPage": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "inventoryItem-presentationItemElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "presitemurl": {
            "title": "Item URL",
            "type": "string",
            "nullable": true
          },
          "basePrice": {
            "title": "Base Price",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "presItemId": {
            "title": "Internal ID",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "onlinePrice": {
            "title": "Online Price",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          }
        },
        "x-ns-filterable": []
      },
      "inventoryItem-correlatedItemsCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inventoryItem-correlatedItemsElement"
            }
          }
        }
      },
      "inventoryItem-binNumberElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "locationName": {
            "title": "Location",
            "type": "string",
            "nullable": true
          },
          "onHandAvail": {
            "title": "Available",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "onHand": {
            "title": "On Hand",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "preferredBin": {
            "title": "Preferred (per Location)",
            "type": "boolean"
          },
          "locationActive": {
            "title": "Location Active",
            "type": "string",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/nsResource"
          },
          "binNumber": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "inventoryItem": {
        "type": "object",
        "properties": {
          "storeDisplayName": {
            "title": "Store Display Name",
            "type": "string",
            "description": "Enter the name of this item as you want it displayed in your Web site. You can enter up to 250 characters.",
            "nullable": true
          },
          "scheduleBNumber": {
            "title": "Schedule B Number",
            "type": "string",
            "description": "Enter the number for the Schedule B form for this item.",
            "nullable": true
          },
          "availableToPartners": {
            "title": "Available to Adv. Partners",
            "type": "boolean",
            "description": "Check this box to make this item available to partners with the Advanced Partner Center role for viewing. These items are also available to partners with roles that are customized for the Advanced Partner Center and include view, create or edit access to item records."
          },
          "nexTagCategory": {
            "title": "NexTag Category",
            "type": "string",
            "description": "Enter the name of the NexTag category this item should be included in. This category is included in the product feeds you can export at Setup &gt; Web Site &gt; Product Feeds.",
            "nullable": true
          },
          "lastPurchasePrice": {
            "title": "Last Purchase Price",
            "type": "number",
            "description": "This field displays the most recent purchase price of the item. This price is determined by the most recent transaction for the item that added positive inventory, such as a purchase receipt, inventory transfer or inventory adjustment. (This does not include item returns or assembly unbuilds.) If two transactions are entered on the same day, the one entered later takes precedence and is used to calculate the last purchase price. When you use the Multiple-Location Inventory feature, the following is true: * The last purchase price reflects the most recent transaction at any location. * The Inventory subtab of inventory item records includes a link to the last positive-inventory transaction per location. * If multiple purchases are made on the same day with different prices and locations, then the highest price paid on that day becomes the last purchase price. If you use Multiple Units of Measure, the last purchase price is calculated using purchase units.",
            "format": "double",
            "nullable": true
          },
          "overallQuantityPricingType": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "ITEM",
                  "PARENT",
                  "SCHEDULE"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "fraudRisk": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "LOW",
                  "MEDIUM",
                  "HIGH"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "stockDescription": {
            "title": "Stock Description",
            "type": "string",
            "description": "Enter up to 21 characters to specify information about this item, such as New, Refurbished or Ships 2-3 days.",
            "nullable": true
          },
          "id": {
            "title": "Internal ID",
            "type": "string",
            "description": "Returns the internal ID for the item.",
            "nullable": true
          },
          "purchaseUnit": {
            "title": "Primary Purchase Unit",
            "type": "string",
            "description": "Select the unit you use to purchase this item from the vendor.",
            "nullable": true
          },
          "originalItemType": {
            "title": "Original Item Type",
            "type": "string",
            "nullable": true
          },
          "mpn": {
            "title": "Manufacturer Part Number",
            "type": "string",
            "description": "MPN (Manufacturers Part Number) - Enter the part number used by the manufacturer to identify this item.",
            "nullable": true
          },
          "handlingCost": {
            "title": "Handling Cost",
            "type": "number",
            "description": "As an option, you may enter a handling cost for this item in dollars. You must also create a shipping item for per-item shipping and handling costs at Lists &gt; Shipping Items &gt; New. When this item is selected on sales orders, invoices or cash sales, the appropriate shipping and handling charges are automatically calculated.",
            "format": "double",
            "nullable": true
          },
          "isLotItem": {
            "title": "Lot Numbered",
            "type": "boolean"
          },
          "originalItemSubtype": {
            "title": "Original Item Subtype",
            "type": "string",
            "nullable": true
          },
          "featuredDescription": {
            "title": "Featured Description",
            "type": "string",
            "description": "If this item is displayed on the home page of your Web site, enter a featured description for this item. This description appears below the item&apos;s store display name on the Home page of your store or site. You can enter up to 999 characters including basic HTML code. Enter and format text using the formatting options, or click the HTML Source Code link to enter HTML.",
            "nullable": true
          },
          "receiptQuantityDiff": {
            "title": "Vendor Bill - Item Receipt Quantity Difference",
            "type": "number",
            "description": "Enter the difference limit for the discrepancy between the quantity on the vendor bill and item receipt.",
            "format": "float",
            "nullable": true
          },
          "nexTagProductFeed": {
            "title": "NexTag Product Feed",
            "type": "boolean",
            "description": "Check this box to include this item when exporting item lists to NexTag. Clear this box to remove this item when exporting item lists to NexTag."
          },
          "shopzillaProductFeed": {
            "title": "Shopzilla Product Feed",
            "type": "boolean",
            "description": "Check this box to include this item when exporting item lists to Shopzilla. Clear this box to remove this item when exporting item lists to Shopzilla."
          },
          "shoppingDotComCategory": {
            "title": "Shopping.com Category",
            "type": "string",
            "description": "Enter the name of the Shopping.com category that this item should go under. This category is included in the product feeds that you can export from Setup &gt; Web Site &gt; Product Feeds. Go to www.shopping.com for more information on the categories available. This is an optional field only available for following item records: Kit/Package, Non-inventory Item for Sale, Non-inventory Item for Resale, Assembly (lot and serialized), and Inventory (lot and serialized).",
            "nullable": true
          },
          "shippingCost": {
            "title": "Shipping Cost",
            "type": "number",
            "description": "As an option, you may enter a shipping cost for this item in dollars. You must also create a shipping item for per-item shipping costs at Lists &gt; Shipping Items &gt; New. When this item is selected on sales orders, invoices or cash sales, the appropriate shipping charges are automatically calculated.",
            "format": "double",
            "nullable": true
          },
          "custitem_media_image_1": {
            "title": "Media Image 1",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "stockUnit": {
            "title": "Primary Stock Unit",
            "type": "string",
            "description": "Select the unit you use to stock this item in inventory.",
            "nullable": true
          },
          "custitem_media_image_2": {
            "title": "Media Image 2",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "saleUnit": {
            "title": "Primary Sale Unit",
            "type": "string",
            "description": "Select the unit you use to sell this item to customers on sales transactions.",
            "nullable": true
          },
          "custitem_media_image_3": {
            "title": "Media Image 3",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "shopzillaCategoryId": {
            "title": "Shopzilla Category ID",
            "type": "integer",
            "description": "Enter the name of the Shopzilla category this item should be included in. This category is included in the product feeds you export at Setup &gt; Web Site &gt; Product Feeds. Go to www.shopzilla.com for more information on the available categories. This is an optional field only displayed for the following item records: Kit/Package, Non-inventory Item for Sale, Non-inventory Item for Resale, Assembly (lot and serialized), and Inventory (lot and serialized).",
            "format": "int64",
            "nullable": true
          },
          "createdDate": {
            "title": "Date Created",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isSerialItem": {
            "title": "Serialized",
            "type": "boolean"
          },
          "froogleProductFeed": {
            "title": "Google Base Product Feed",
            "type": "boolean",
            "description": "Check this box to include this item when exporting item lists to Froogle. Clear this box to remove this item when exporting item lists to Froogle."
          },
          "custitem_un_number": {
            "title": "UN Number",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "onSpecial": {
            "title": "On Special",
            "type": "boolean",
            "description": "If you want to put this item on special, check this box. The item then appears in the Specials category in your store or site."
          },
          "supplyReplenishmentMethod": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "TIME_PHASED",
                  "MPS",
                  "REORDER_POINT",
                  "MRP"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "manufacturer": {
            "title": "Manufacturer",
            "type": "string",
            "description": "Enter the name of the company that manufactures this item.",
            "nullable": true
          },
          "useBins": {
            "title": "Use Bins",
            "type": "boolean",
            "description": "Check this box to track bin locations for this item. If you choose to use bins for this item, you must associate at least one bin with the item using the Bin Numbers subtab. You can associate multiple items with one bin and multiple bins with one item. You can also designate one preferred bin per location. The preferred bin is listed by default on receipt and fulfillment transactions. To create bin records that can be selected here, go to Lists &gt; Supply Chain &gt; Bins &gt; New."
          },
          "enforceminqtyinternally": {
            "title": "Enforce Minimum Internally",
            "type": "boolean",
            "description": "Check this box to apply the minimum quantity restriction on sales orders generated from NetSuite. When you clear this box, but enter a number in the Minimum Quantity field, the minimum quantity is only applied to web store orders."
          },
          "matrixItemNameTemplateHelp": {
            "title": "Matrix Item Name Template",
            "type": "string",
            "nullable": true
          },
          "shipIndividually": {
            "title": "Ships Individually",
            "type": "boolean",
            "description": "Check this box if this item always ships alone and with no other items in the same package. This helps determine the number of packages needed and the shipping rate on order fulfillments."
          },
          "customForm": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "-200",
                  "120"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custitem_itr_supplementary_unit_abbrev": {
            "title": "Supplementary Unit - Abberviation",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "displayName": {
            "title": "Display Name/Code",
            "type": "string",
            "description": "Enter an optional name of up to 250 characters for this item in addition to the Item Name. If you are integrating with a Yahoo! store, this field is imported from Yahoo!. The display name prints in the Item column of sales forms when Basic printing is used. If this item is a member of a kit, this name appears in the Item column when the Print Items box is checked. If you do not enter a display name, the item name appears on printed forms.",
            "nullable": true
          },
          "isDropShipItem": {
            "title": "Drop Ship Item",
            "type": "boolean",
            "description": "Check the Drop Ship Item box to have this item default as a drop ship item on sales orders. When a sales transaction for a drop ship item is approved, a linked purchase order for the preferred vendor is automatically generated. The vendor ships this item to your customer directly. Note: an item can be a drop ship or a special order, but not both."
          },
          "countryOfManufacture": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "PR",
                  "PS",
                  "PT",
                  "PW",
                  "PY",
                  "QA",
                  "AD",
                  "AE",
                  "AF",
                  "AG",
                  "AI",
                  "AL",
                  "AM",
                  "AN",
                  "AO",
                  "AQ",
                  "AR",
                  "AS",
                  "AT",
                  "RE",
                  "AU",
                  "AW",
                  "AX",
                  "AZ",
                  "RO",
                  "BA",
                  "BB",
                  "RS",
                  "BD",
                  "BE",
                  "RU",
                  "BF",
                  "BG",
                  "RW",
                  "BH",
                  "BI",
                  "BJ",
                  "BL",
                  "BM",
                  "BN",
                  "BO",
                  "SA",
                  "BQ",
                  "SB",
                  "BR",
                  "SC",
                  "BS",
                  "SD",
                  "BT",
                  "SE",
                  "BV",
                  "SG",
                  "BW",
                  "SH",
                  "SI",
                  "BY",
                  "SJ",
                  "BZ",
                  "SK",
                  "SL",
                  "SM",
                  "SN",
                  "SO",
                  "CA",
                  "SR",
                  "CC",
                  "SS",
                  "CD",
                  "ST",
                  "CF",
                  "SV",
                  "CG",
                  "CH",
                  "SX",
                  "CI",
                  "SY",
                  "SZ",
                  "CK",
                  "CL",
                  "CM",
                  "CN",
                  "CO",
                  "CR",
                  "TC",
                  "CS",
                  "TD",
                  "CU",
                  "TF",
                  "CV",
                  "TG",
                  "CW",
                  "TH",
                  "CX",
                  "CY",
                  "TJ",
                  "CZ",
                  "TK",
                  "TL",
                  "TM",
                  "TN",
                  "TO",
                  "TR",
                  "TT",
                  "DE",
                  "TV",
                  "TW",
                  "DJ",
                  "TZ",
                  "DK",
                  "DM",
                  "DO",
                  "UA",
                  "UG",
                  "DZ",
                  "UM",
                  "EA",
                  "EC",
                  "US",
                  "EE",
                  "EG",
                  "EH",
                  "UY",
                  "UZ",
                  "VA",
                  "ER",
                  "VC",
                  "ES",
                  "ET",
                  "VE",
                  "VG",
                  "VI",
                  "VN",
                  "VU",
                  "FI",
                  "FJ",
                  "FK",
                  "FM",
                  "FO",
                  "FR",
                  "WF",
                  "GA",
                  "GB",
                  "WS",
                  "GD",
                  "GE",
                  "GF",
                  "GG",
                  "GH",
                  "GI",
                  "GL",
                  "GM",
                  "GN",
                  "GP",
                  "GQ",
                  "GR",
                  "GS",
                  "GT",
                  "GU",
                  "GW",
                  "GY",
                  "XK",
                  "HK",
                  "HM",
                  "HN",
                  "HR",
                  "HT",
                  "YE",
                  "HU",
                  "IC",
                  "ID",
                  "YT",
                  "IE",
                  "IL",
                  "IM",
                  "IN",
                  "IO",
                  "ZA",
                  "IQ",
                  "IR",
                  "IS",
                  "IT",
                  "ZM",
                  "JE",
                  "ZW",
                  "JM",
                  "JO",
                  "JP",
                  "KE",
                  "KG",
                  "KH",
                  "KI",
                  "KM",
                  "KN",
                  "KP",
                  "KR",
                  "KW",
                  "KY",
                  "KZ",
                  "LA",
                  "LB",
                  "LC",
                  "LI",
                  "LK",
                  "LR",
                  "LS",
                  "LT",
                  "LU",
                  "LV",
                  "LY",
                  "MA",
                  "MC",
                  "MD",
                  "ME",
                  "MF",
                  "MG",
                  "MH",
                  "MK",
                  "ML",
                  "MM",
                  "MN",
                  "MO",
                  "MP",
                  "MQ",
                  "MR",
                  "MS",
                  "MT",
                  "MU",
                  "MV",
                  "MW",
                  "MX",
                  "MY",
                  "MZ",
                  "NA",
                  "NC",
                  "NE",
                  "NF",
                  "NG",
                  "NI",
                  "NL",
                  "NO",
                  "NP",
                  "NR",
                  "NU",
                  "NZ",
                  "OM",
                  "PA",
                  "PE",
                  "PF",
                  "PG",
                  "PH",
                  "PK",
                  "PL",
                  "PM",
                  "PN"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "shoppingProductFeed": {
            "title": "Shopping Product Feed",
            "type": "boolean",
            "description": "Check this box to include this item when exporting item lists to Shopping.com. Clear this box to remove this item when exporting item lists to Shopping.com."
          },
          "externalId": {
            "title": "External ID",
            "type": "string",
            "nullable": true
          },
          "residual": {
            "title": "Residual",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "custitem_default_large": {
            "title": "Default Large",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "searchKeywords": {
            "title": "Search Keywords",
            "type": "string",
            "description": "Enter alternative search keywords that customers might use to find this item using your Web store’s internal search. These can include synonyms, acronyms, alternate languages or misspellings. These keywords are seen as equally important as the item name when searches are conducted.",
            "nullable": true
          },
          "isOnline": {
            "title": "Display in Website",
            "type": "boolean",
            "description": "Check this box to make this item available online in your Web site. You cannot sell this item online unless you check this box. If the item is of the Other Charge for Sale or Resale subtype, checking this box does not make it available in the web store catalog. However, it becomes available during web store checkout."
          },
          "purchaseOrderAmount": {
            "title": "Vendor Bill - Purchase Order Amount Tolerance",
            "type": "number",
            "description": "Enter the tolerance limit for the discrepancy between the amount on the vendor bill and purchase order.",
            "format": "float",
            "nullable": true
          },
          "dateConvertedToInv": {
            "title": "Date Converted To Inv.",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "receiptQuantity": {
            "title": "Vendor Bill - Item Receipt Quantity Tolerance",
            "type": "number",
            "description": "Enter the tolerance limit for the discrepancy between the quantity on the vendor bill and item receipt.",
            "format": "float",
            "nullable": true
          },
          "maximumquantity": {
            "title": "Maximum Order Qty",
            "type": "integer",
            "description": "Enter the greatest quantity of this item that customers can purchase. If customers enter an item quantity above the maximum amount, a warning message is displayed. Web store customers are unable to complete checkout unless they enter a quantity equal to or below the maximum quantity. Leave this field empty to allow customers to check out without maximum quantity restrictions. You can edit this warning at Setup &gt; Site Builder/SuiteCommerce Advanced &gt; Customize Text.",
            "format": "int64",
            "nullable": true
          },
          "minimumquantity": {
            "title": "Minimum Order Qty",
            "type": "integer",
            "description": "Enter the lowest quantity that customers can purchase. Web store customers receive a warning and cannot check out if they enter an item quantity below this minimum. Leave this field empty to allow customers to check out with no minimum quantity restrictions. You can edit this warning at Setup &gt; Site Builder/SuiteCommerce Advanced &gt; Customize Text.",
            "format": "int64",
            "nullable": true
          },
          "totalValue": {
            "title": "Total Value",
            "type": "number",
            "description": "Enter or accept the total value of this item. NetSuite generates this amount by multiplying your purchase price and your quantity on hand. As you buy and sell additional inventory, NetSuite continues to calculate the total value.",
            "format": "double",
            "nullable": true
          },
          "custitem_productreviews2": {
            "title": "Product Reviews #2",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "salesDescription": {
            "title": "Sales Description",
            "type": "string",
            "description": "Enter a sales description for this item. You can enter letters and numbers. There is a 999 character limit. The sales description displays on transactions such as sales orders, cash sales and invoices. If you use the Web Store feature, the sales description displays immediately under the item&apos;s store display name on item list pages in your store or site, if you have not entered a store description for an item. Enter the store description on the Store subtab of the item record. The sales description also displays by default when the item is in the Web store shopping cart.",
            "nullable": true
          },
          "storeDetailedDescription": {
            "title": "Detailed Description",
            "type": "string",
            "description": "Enter a detailed description for this item. When your customers click an item&apos;s store display name for more information, they see this description. You can enter letters, numbers or basic HTML code. If you are using Internet Explorer, you can also clear the View Source box below to enter and format text using the formatting options above. This eliminates the need for HTML code. If you do not see the View Source box, make sure Rich Text Editing is enabled at Home &gt; Set Preferences &gt; Appearance.",
            "nullable": true
          },
          "custitem_productreviews1": {
            "title": "Product Reviews #1",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custitem_custom_altimage1": {
            "title": "Alternate Image 1",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "baseUnit": {
            "title": "Primary Base Unit",
            "type": "string",
            "description": "This field displays the base unit of measure for this item.",
            "nullable": true
          },
          "custitem_commodity_code": {
            "title": "Commodity Code",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "weight": {
            "title": "Item Weight ",
            "type": "number",
            "description": "Enter the weight of this item and select the units in the dropdown.",
            "format": "float",
            "nullable": true
          },
          "custitem_large_image_3": {
            "title": "Large Image 3",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custitem_large_image_2": {
            "title": "Large Image 2",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custitem_large_image_1": {
            "title": "Large Image 1",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "includeChildren": {
            "title": "Include Children",
            "type": "boolean",
            "description": "Check the Include Children box to share the item with all the sub-subsidiaries associated with each subsidiary selected in the Subsidiary field. Note: When sharing items across subsidiaries, all of the options selected on the item record must be compatible across subsidiaries. For example, when entering an inventory item to be shared across subsidiaries, you should select Income and Asset accounts on the item record that are also shared across the same subsidiaries."
          },
          "internalId": {
            "title": "Internal ID",
            "type": "integer",
            "description": "Use this ID number to create smart tags for your item templates, site templates, and custom Web site that you host with NetSuite. Smart tags use the following format:",
            "format": "int64",
            "nullable": true
          },
          "outOfStockMessage": {
            "title": "Out Of Stock Message",
            "type": "string",
            "description": "You can enter a custom out of stock message for this item. The message here replaces the default out of stock message.",
            "nullable": true
          },
          "purchaseOrderQuantityDiff": {
            "title": "Vendor Bill - Purchase Order Quantity Difference",
            "type": "number",
            "description": "Enter the difference limit for the discrepancy between the quantity on the vendor bill and purchase order.",
            "format": "float",
            "nullable": true
          },
          "storeDescription": {
            "title": "Store Description",
            "type": "string",
            "description": "The store description appears under the item&apos;s store display name on item list pages in your store or site. You can enter letters, numbers, and basic HTML code. Note: To make the store description display when an item is in the Web store shopping cart, go to Setup &gt; Web Site &gt; Set Up Web Site. Click the Cart subtab, and check the box next to Store Description.",
            "nullable": true
          },
          "useMarginalRates": {
            "title": "Use Marginal Rates",
            "type": "boolean",
            "description": "Check this box if you want the quantity discounts in the schedule to be applied to each pricing bracket separately. For example, a schedule offers no discount for the first 100 items sold and a 5% discount if more than 100 are sold. If 150 items are sold, the first 100 are at normal price, and the other fifty items are sold at 5% discount. Leave this box clear if you want the discount to apply to all of the items sold."
          },
          "matchBillToReceipt": {
            "title": "Match Bill To Receipt",
            "type": "boolean",
            "description": "Check the Match Bill to Receipt box if you want the Match Bill to Receipt box on transaction lines to be checked by default for this item. This enables you to generate variances based on vendor bill lines. Then, on the Post Vendor Bill Variances page, you must select Bill in the Transaction Type field to generate the variance postings. Purchase orders that include this item default to have this box checked and variances are generated based on vendor bill lines. Clear this box if you want to generate variance postings based on purchase order lines rather than vendor bill lines and do not want the Match Bill to Receipt box to be checked by default on transaction lines for this item. Then, on the Post Vendor Bill Variances page, you must select Purchase Order in the Transaction Type field to generate the variance postings. This preference defaults to be disabled. Even when enabled, this option can be changed on individual purchase order lines."
          },
          "matrixType": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "",
                  "PARENT",
                  "CHILD"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "vendorName": {
            "title": "Vendor Name/Code",
            "type": "string",
            "description": "If your vendor uses a name for this item that is different from the name you use, you can enter up to 60 characters as the vendor&apos;s name for this item here. The vendor&apos;s name for this item prints in the Item column of purchase forms. If you do not enter a vendor name, the item name prints in the Item column of purchase forms. If you have entered a display name, it will print on purchases instead of the item name.",
            "nullable": true
          },
          "isInactive": {
            "title": "Inactive",
            "type": "boolean",
            "description": "When you check this box, this item will no longer appear on a list unless you check the Show All box at the bottom of the list page."
          },
          "purchaseDescription": {
            "title": "Purchase Description",
            "type": "string",
            "description": "Enter up to 999 characters of text for a description of this item to appear on vendor orders. Include the unit of measure in this description.",
            "nullable": true
          },
          "metaTagHtml": {
            "title": "Meta Tag HTML",
            "type": "string",
            "description": "Enter the Meta Tag HTML you want to appear in the &lt; head &gt; section of this item page. Meta tags enable your Web site to be found by search engines.",
            "nullable": true
          },
          "dontShowPrice": {
            "title": "Don't Show Price",
            "type": "boolean",
            "description": "Check this box to hide the price of this item online. This is useful for items you want to advertise but don&apos;t want to sell or for items that you track inventory for and want to display but are offered in combination with other items."
          },
          "atpMethod": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "CUMULATIVE_ATP_WITH_LOOK_AHEAD",
                  "DISCRETE_ATP"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "description": {
            "title": "Description",
            "type": "string",
            "description": "Enter a description for this item. This description will appear in the Description column of sales forms.",
            "nullable": true
          },
          "weightUnit": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  "3",
                  "4"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "matrixItemNameTemplate": {
            "title": "Matrix Item Name Template",
            "type": "string",
            "description": "This field is used to control how the matrix item will be displayed in the Matrix Item Name/Number field. Compose the order in which attributes and matrix options are displayed by selecting from the Insert Item Attribute and Insert Matrix Option dropdown lists. Add custom separator characters to easier distinguish the various options. Example: Item Name: Fabric / Color / Waist / Length [Location]",
            "nullable": true
          },
          "itemId": {
            "title": "Item Name/Number",
            "type": "string",
            "description": "Enter up to 250 characters for the name of this item. This name appears in lists on transactions. If you have the option of entering a display name and do not, the item name prints in the Item column of sales forms when Basic printing is used. If you have the option to enter a vendor name and do not, the item name prints in the Item column of purchase forms. If you have entered a display name, it will print on purchases instead of the item name when Basic printing is used.",
            "nullable": true
          },
          "offerSupport": {
            "title": "Offer Support",
            "type": "boolean",
            "description": "Check this box to offer support for this particular item. By offering support for items, customers can select on case records which item they are having trouble with."
          },
          "custitem_custom_altimageth": {
            "title": "Alternate Image 1 (Thumb)",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "purchaseOrderQuantity": {
            "title": "Vendor Bill - Purchase Order Quantity Tolerance",
            "type": "number",
            "description": "Enter the tolerance limit for the discrepancy between the quantity on the vendor bill and purchase order.",
            "format": "float",
            "nullable": true
          },
          "transferPrice": {
            "title": "Transfer Price",
            "type": "number",
            "description": "Enter a transfer price on an item record to set the default value used as the transfer price on transfer orders. You can still override this default by entering a new transfer price for an item on the transfer order. The use of the value in the Transfer Price field on a transfer order depends on your setting for the Use Item Cost as Transfer Cost preference. When the Use Item Cost as Transfer Cost preference is enabled, the transfer price on a transfer order is not considered for posting cost accounting of line items. In the Transfer Price field, enter a declared value for the item to be used for shipping purposes only. When the Use Item Cost as Transfer Cost preference is disabled, the transfer price on a transfer order is considered for posting cost accounting of line items. Items that do not have a transfer price set on a transfer order use a zero value for cost accounting calculations when the item is received. Note: If the Transfer Price field is blank on the item record, a value of zero shows by default on the transfer order. Unless a transfer price value is entered on the transfer order, a value of zero is used for COGS calculations when the item is received.",
            "format": "double",
            "nullable": true
          },
          "noPriceMessage": {
            "title": "No Price Message",
            "type": "string",
            "description": "If you opted to not show a price online, enter the message that should show instead of the price. For example, you might enter &quot;Call for Price.&quot;",
            "nullable": true
          },
          "copyDescription": {
            "title": "Copy from Sales Order",
            "type": "boolean",
[...]
