{
  "openapi": "3.0.1",
  "info": {
    "title": "NetSuite REST Record API",
    "description": "NetSuite REST Record API generated 2024-05-24 at 12:35:11 UTC for account TSTDRV1303059, user joe.klug@peregrineconnect.com with role Neuron ESB Integration.",
    "termsOfService": "http://www.netsuite.com/portal/resource/terms-of-service.shtml",
    "contact": {
      "name": "Oracle NetSuite",
      "url": "http://www.netsuite.com",
      "email": "info@netsuite.com"
    },
    "version": "v1",
    "x-framework": {
      "name": "oracle-netsuite-suitetalk-rest"
    }
  },
  "servers": [
    {
      "url": "https://tstdrv1303059.suitetalk.api.netsuite.com/services/rest/record/v1"
    }
  ],
  "paths": {
    "/salesOrder": {
      "get": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Get list of records.",
        "operationId": "salesOrderGET",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query that is used to filter results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit used to specify the number of results on a single page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset used for selecting a specific page of results.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of records.",
            "content": {
              "application/vnd.oracle.resource+json; type=collection": {
                "schema": {
                  "$ref": "#/components/schemas/salesOrderCollection"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Insert record.",
        "operationId": "salesOrderPOST",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/salesOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Inserted record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/salesOrder/{id}": {
      "get": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Get record.",
        "operationId": "salesOrderGET2",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "expandSubResources",
            "in": "query",
            "description": "Set to 'true' to automatically expand all sublists, sublist lines, and subrecords on this record.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "simpleEnumFormat",
            "in": "query",
            "description": "Set to true to return enumeration values in a format that only shows the internal ID value.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The names of the fields and sublists on the record. Only the selected fields and sublists will be returned in the response.",
            "examples": {
              "multiple fields": {
                "value": "field1,field2"
              },
              "single field": {
                "value": "field"
              }
            },
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved record.",
            "headers": {
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/salesOrder"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Insert or update record.",
        "operationId": "salesOrderPUT",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "External identifier.",
            "schema": {
              "type": "string",
              "pattern": "eid:(.+)"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replaceSelectedFields",
            "in": "query",
            "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/salesOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Upserted record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Remove record.",
        "operationId": "salesOrderDELETE",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed record."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Update record.",
        "operationId": "salesOrderPATCH",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replaceSelectedFields",
            "in": "query",
            "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/salesOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Updated record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/salesOrder/{id}/!transform/returnAuthorization": {
      "post": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Transform to returnAuthorization.",
        "operationId": "returnAuthorization",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/nsResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Transformed record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/nsResource"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/salesOrder/{id}/!transform/cashSale": {
      "post": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Transform to cashSale.",
        "operationId": "cashSale",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/nsResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Transformed record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/nsResource"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/salesOrder/{id}/!transform/itemFulfillment": {
      "post": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Transform to itemFulfillment.",
        "operationId": "itemFulfillment",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/nsResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Transformed record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/nsResource"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/salesOrder/{id}/!transform/fulfillmentRequest": {
      "post": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Transform to fulfillmentRequest.",
        "operationId": "fulfillmentRequest",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/nsResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Transformed record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/nsResource"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/salesOrder/{id}/!transform/invoice": {
      "post": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Transform to invoice.",
        "operationId": "invoice",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/nsResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Transformed record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/nsResource"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "salesOrder-accountingBookDetailElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "exchangeRate": {
            "title": "Exchange Rate",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "subsidiary": {
            "$ref": "#/components/schemas/nsResource"
          },
          "accountingBook": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "nsResourceCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/nsResource"
            }
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          }
        }
      },
      "nsResource": {
        "type": "object",
        "properties": {
          "id": {
            "title": "Internal identifier",
            "type": "string"
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "externalId": {
            "title": "External identifier",
            "type": "string"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          }
        }
      },
      "nsError": {
        "type": "object",
        "properties": {
          "type": {
            "title": "Type",
            "type": "string",
            "readOnly": true,
            "description": "A URI reference to the documentation about the problem type.",
            "format": "URI"
          },
          "title": {
            "title": "Title",
            "type": "string",
            "readOnly": true,
            "description": "A human-readable description of the problem type."
          },
          "status": {
            "title": "Status",
            "type": "integer",
            "readOnly": true,
            "description": "The HTTP status code generated by the server the request originates from.",
            "format": "int32"
          },
          "o:errorDetails": {
            "type": "array",
            "readOnly": true,
            "description": "An array containing one or more problem types.",
            "items": {
              "type": "object",
              "properties": {
                "detail": {
                  "title": "Detail",
                  "type": "string",
                  "readOnly": true,
                  "description": "A detailed, human-readable description of the problem occurrence."
                },
                "o:errorPath": {
                  "title": "Error Path",
                  "type": "string",
                  "readOnly": true,
                  "description": "The JSON path that indicates where the problem occurs within the request body.",
                  "format": "JSONPath"
                },
                "o:errorUrl": {
                  "title": "Error URL",
                  "type": "string",
                  "readOnly": true,
                  "description": "The URI of the first element in the request URL where the problem occurs.",
                  "format": "URI"
                },
                "o:errorHeader": {
                  "title": "Error Header",
                  "type": "string",
                  "readOnly": true,
                  "description": "The name of the HTTP header where the problem occurs."
                },
                "o:errorQueryParam": {
                  "title": "Error Query Parameter",
                  "type": "string",
                  "readOnly": true,
                  "description": "The name of the query parameter where the problem occurs."
                },
                "o:errorCode": {
                  "title": "Error Code",
                  "type": "string",
                  "readOnly": true,
                  "description": "The application-specific error code. Similar problem types are grouped together."
                }
              }
            }
          }
        }
      },
      "salesOrder-accountingBookDetailCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/salesOrder-accountingBookDetailElement"
            }
          }
        }
      },
      "nsLink": {
        "type": "object",
        "properties": {
          "rel": {
            "title": "Relationship",
            "type": "string",
            "readOnly": true
          },
          "href": {
            "title": "Hypertext Reference",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "salesOrder-giftCertRedemptionCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/salesOrder-giftCertRedemptionElement"
            }
          }
        }
      },
      "salesOrder-giftCertRedemptionElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "authCodeApplied": {
            "title": "Amount Applied",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "authCode": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "salesOrderCollection": {
        "type": "object",
        "properties": {
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "An array field that represents a collection of elements, for example, sublist lines, multiselect items, or search results.",
            "items": {
              "$ref": "#/components/schemas/salesOrder"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          }
        }
      },
      "salesOrder-itemElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "vsoeIsEstimate": {
            "title": "Estimate",
            "type": "boolean"
          },
          "custcol_svb_bill_distr_exclude": {
            "title": "Bill Distribution Exclude",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "rateSchedule": {
            "title": "Rate Schedule",
            "type": "string",
            "nullable": true
          },
          "custcol_establishment_code": {
            "title": "Establishment Code",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "vendorList": {
            "title": "Vendor LIST",
            "type": "string",
            "nullable": true
          },
          "quantityFulfilled": {
            "title": "<NULL>",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "custcol9": {
            "title": "Display Name",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_5892_eutriangulation": {
            "title": "EU Triangulation",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "commitInventory": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  "3"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "quantityCommitted": {
            "title": "Committed",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "giftCertRecipientName": {
            "title": "Recipient Name",
            "type": "string",
            "nullable": true
          },
          "custcol_statistical_value": {
            "title": "Statistical Value",
            "type": "number",
            "format": "double",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "options": {
            "title": "Options",
            "type": "string",
            "nullable": true
          },
          "custcol1": {
            "title": "Terms",
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_sii_annual_prorate": {
            "title": "Annual Prorate",
            "type": "number",
            "format": "double",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_2663_isperson": {
            "title": "Is Person",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "quantityBackOrdered": {
            "title": "Back Ordered",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "oqpBucket": {
            "title": "Oqp Bucket",
            "type": "string",
            "nullable": true
          },
          "quantityOnHand": {
            "title": "On Hand",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "vsoeAmount": {
            "title": "Calculated Amount",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "itemSubtype": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "Sale",
                  "Purchase",
                  "Resale"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custcol_country_of_origin_name": {
            "title": "Country of Origin",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_svb_dist_alloc_det_hidden": {
            "title": "Recent Distribution Details [Hidden]",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_svb_vend_bill_lineno": {
            "title": "Line #",
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "vsoeAllocation": {
            "title": "Allocation Amount",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "custcol_sii_service_date": {
            "title": "Service Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "poRate": {
            "title": "PO Rate",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "matrixType": {
            "title": "Matrix Type",
            "type": "string",
            "nullable": true
          },
          "fromJob": {
            "title": "From Project",
            "type": "boolean"
          },
          "isOpen": {
            "title": "Is Opened",
            "type": "boolean"
          },
          "line": {
            "title": "Transaction Line",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "description": {
            "title": "Description",
            "type": "string",
            "nullable": true
          },
          "isClosed": {
            "title": "Closed",
            "type": "boolean"
          },
          "units": {
            "title": "Units",
            "type": "string",
            "nullable": true
          },
          "custcol_adjustment_field": {
            "title": "Adjustment Field",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_statistical_value_base_curr": {
            "title": "Statistical Value - Base Currency",
            "type": "number",
            "format": "double",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "orderPriority": {
            "title": "Order Priority",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "quantityReceived": {
            "title": "Quantity Received",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "custcol_country_of_origin_code": {
            "title": "Country of Origin Code",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "rate": {
            "title": "Rate",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "marginal": {
            "title": "Marginal",
            "type": "boolean"
          },
          "custcol_2663_lastname": {
            "title": "Last Name",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "excludeFromRateRequest": {
            "title": "Exclude Item from Rate Request",
            "type": "boolean"
          },
          "giftCertRecipientEmail": {
            "title": "Recipient Email",
            "type": "string",
            "nullable": true
          },
          "isEstimate": {
            "title": "Estimate",
            "type": "boolean"
          },
          "linked": {
            "title": "Linked",
            "type": "boolean"
          },
          "minQty": {
            "title": "Minimum Quantity",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "printItems": {
            "title": "Print Items",
            "type": "boolean"
          },
          "custcol_counterparty_vat": {
            "title": "Counterparty VAT Number",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "amount": {
            "title": "Amount",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "quantity": {
            "title": "Quantity",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "commitmentFirm": {
            "title": "Commitment Confirmed",
            "type": "boolean"
          },
          "initOqpBucket": {
            "title": "Initial OQP Bucket",
            "type": "string",
            "nullable": true
          },
          "custcol_2663_firstname": {
            "title": "First Name",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "giftCertFrom": {
            "title": "From",
            "type": "string",
            "nullable": true
          },
          "processedByRevCommit": {
            "title": "Processed by Rev Commit",
            "type": "boolean"
          },
          "quantityPacked": {
            "title": "Quantity Packed",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "itemType": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "Group",
                  "Description",
                  "Discount",
                  "EndGroup",
                  "GiftCert",
                  "Subtotal",
                  "Service",
                  "ShipItem",
                  "TaxItem",
                  "InvtPart",
                  "Payment",
                  "Expense",
                  "NonInvtPart",
                  "TaxGroup",
                  "Kit",
                  "Markup",
                  "DwnLdItem",
                  "OthCharge",
                  "Assembly",
                  "SubscriPlan"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "quantityAvailable": {
            "title": "Available",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "quantityBilled": {
            "title": "Invoiced",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "giftCertMessage": {
            "title": "Gift Message",
            "type": "string",
            "nullable": true
          },
          "custcol_2663_companyname": {
            "title": "Company Name",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "createPo": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "CostRtrn",
                  "EndrTeg",
                  "SpecOrd",
                  "AuthDep",
                  "InTrnPay",
                  "POrdBlnk",
                  "ResvShip",
                  "Capture",
                  "GLAdj",
                  "OppClose",
                  "LandCost",
                  "CountAdj",
                  "OrdReval",
                  "IntcoAdj",
                  "CpFxVar",
                  "OrdAlloc",
                  "FxAsset",
                  "GACAdjst",
                  "WaveShip",
                  "RfqCtrct",
                  "POrdPrep",
                  "OwnRcpt",
                  "Transfrm",
                  "DepRfnd",
                  "BillVar",
                  "OrdBuild",
                  "FftRqFt",
                  "DepAppl",
                  "Payment",
                  "Refund",
                  "ColTeg",
                  "Reimb",
                  "OrdDgrss",
                  "KitShip",
                  "OrdAuth",
                  "WipBuild",
                  "CtrctOrd",
                  "OrdClose",
                  "RevRec",
                  "OrdRvCom",
                  "PickPack",
                  "TOrdCost",
                  "SysJrnl",
                  "Commissn",
                  "COGS",
                  "SrcContr",
                  "OsrcMfg",
                  "EstInvc",
                  "RfqVend",
                  "OrdDep",
                  "WOReval",
                  "CostRec",
                  "PurchOwn",
                  "OppEst",
                  "POrdReq",
                  "OrdBill",
                  "ExpRec",
                  "NetAsset",
                  "PrepAppl",
                  "OrdFftRq",
                  "BillRcpt",
                  "OrdArrng",
                  "PurchRet",
                  "CostDef",
                  "ShipRcpt",
                  "SaleRet",
                  "DiscTeg",
                  "RcptBill",
                  "CostDefR",
                  "DropShip",
                  "WaveOrd",
                  "PayTeg"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "revrec_recurrencetype": {
            "title": "Rev Rec Recurrence Type",
            "type": "string",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_expense_code_of_supply": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_sii_exempt_line_details": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_adjustment_tax_code": {
            "$ref": "#/components/schemas/nsResource"
          },
          "item": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/nsResource"
              }
            ]
          },
          "location": {
            "$ref": "#/components/schemas/nsResource"
          },
          "chargeType": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_2663_eft_file_format": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_statistical_procedure_sale": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_nature_of_transaction_codes": {
            "$ref": "#/components/schemas/nsResource"
          },
          "class": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_svb_item_exp_account": {
            "$ref": "#/components/schemas/nsResource"
          },
          "subsidiary": {
            "$ref": "#/components/schemas/nsResource"
          },
          "chargeRule": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_nondeductible_account": {
            "$ref": "#/components/schemas/nsResource"
          },
          "billingSchedule": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_emirate": {
            "$ref": "#/components/schemas/nsResource"
          },
          "createdPo": {
            "$ref": "#/components/schemas/nsResource"
          },
          "poVendor": {
            "$ref": "#/components/schemas/nsResource"
          },
          "department": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_statistical_procedure_purc": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_far_trn_relatedasset": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "salesOrder-itemCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/salesOrder-itemElement"
            }
          }
        }
      },
      "salesOrder": {
        "type": "object",
        "properties": {
          "custbody_sii_code_issued_inv": {
            "title": "SII Code Issued Inv",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "startDate": {
            "title": "Start Date",
            "type": "string",
            "description": "If you use the Advanced Billing feature, enter the date for the first invoice to be created. If a sales order includes a Start Date and End Date, those dates autofill on the invoice or cash sale when the order is billed.",
            "format": "date",
            "nullable": true
          },
          "contribPct": {
            "title": "Contribution Percentage",
            "type": "string",
            "nullable": true
          },
          "oppcreatedfromtitle": {
            "type": "string",
            "nullable": true
          },
          "custbody_opp_prjredflags": {
            "title": "Potential Red Flags",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "estimate": {
            "title": "Estimate",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "handlingCost": {
            "title": "Handling Cost",
            "type": "number",
            "description": "The handling costs displayed in this field are calculated by applying the values pre-defined in the selected Shipping Method. For example you may have a flat rate handling charge for all items sent by US Mail of $1.50. To change handling rates, go to Shipping &gt; Lists &gt; Shipping Items, and select the required shipping method. Click on the Handling Rate subtab.",
            "format": "double",
            "nullable": true
          },
          "custbody_sii_land_register": {
            "title": "Land register/Cadaster reference",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "debitPinBlock": {
            "title": "Debit Pin Block",
            "type": "string",
            "nullable": true
          },
          "subtotal": {
            "title": "Subtotal",
            "type": "number",
            "description": "This field shows the total of the items on this sales order. This is the total before any discounts, shipping cost, handling cost or tax is added to the order.",
            "format": "double",
            "nullable": true
          },
          "billAddr1": {
            "title": "Billing Address Line 1",
            "type": "string",
            "nullable": true
          },
          "billAddr2": {
            "title": "Billing Address Line 2",
            "type": "string",
            "nullable": true
          },
          "billAddr3": {
            "title": "Billing Address Line 3",
            "type": "string",
            "nullable": true
          },
          "shippingCost": {
            "title": "Shipping Cost",
            "type": "number",
            "description": "This field displays the shipping costs associated with the transaction. If you have set up your account to automatically calculate shipping, shipping costs are calculated according to the shipping method selected in the Shipping Method field. To automatically charge for shipping, go to Setup &gt; Accounting &gt; Shipping. Check the Charge for Shipping box. In addition, you need to set up charge details for your shipping items. Go to Lists &gt; Accounting &gt; Shipping Items. UPS Real-Time rates If you use this service and a package is over 150lbs, the package is charged as multiple packages equal to or less than 150lbs.",
            "format": "double",
            "nullable": true
          },
          "fxNetAltSalesTotal": {
            "title": "Foreign Net Alt. Sales Total",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "giftCertApplied": {
            "title": "Gift Certificate",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "custbody_svb_sched_in_process": {
            "title": "SVB Schedule In Process",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "createdDate": {
            "title": "Date Created",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "webStore": {
            "title": "Web Store",
            "type": "string",
            "nullable": true
          },
          "custbody_collections_promised_pmt_date": {
            "title": "Collections Promised Payment Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_sii_code": {
            "title": "SII Code",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_adjustment_journal": {
            "title": "Adjustment Journal",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "paymentInstrumentLimit": {
            "title": "Payment Instrument Limit",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "email": {
            "title": "Email",
            "type": "string",
            "nullable": true
          },
          "canHaveStackable": {
            "title": "Can Stack Promotions",
            "type": "boolean"
          },
          "webSite": {
            "type": "string",
            "nullable": true
          },
          "custbody_establishment_code": {
            "title": "Establishment Code",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_country_of_origin": {
            "title": "Country of Origin",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_sii_not_reported_in_time": {
            "title": "Billing Record Cannot Be Submitted On Time",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "prevDate": {
            "title": "Previous Effective Date",
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "custbody_itr_nexus": {
            "title": "ITR Nexus",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "salesEffectiveDate": {
            "title": "Sales Effective Date",
            "type": "string",
            "description": "You can change the sales effective date for this transaction. The sales effective date determines which commission plan and historical sales team this transaction applies to.",
            "format": "date",
            "nullable": true
          },
          "customForm": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "132",
                  "111",
                  "124",
                  "179",
                  "204",
                  "226",
                  "208",
                  "109",
                  "183",
                  "195",
                  "196",
                  "175"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custbody_powf_pm_dt": {
            "title": "Project Manager Approval Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_report_timestamp": {
            "title": "Report Timestamp",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "prevRep": {
            "title": "Previous Representative",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "custbody_sii_is_third_party": {
            "title": "Issued By Third Party",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "custbody_svb_error_logs": {
            "title": "Shared Vendor Bill Error Logs",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_credit_terms": {
            "title": "Terms",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_sii_registration_msg": {
            "title": "Registration Message",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "shipAddress": {
            "title": "Ship To",
            "type": "string",
            "description": "The default shipping address autofills this field from the customer&apos;s record. To enter a different address: * Select another address in the Ship To Select field. * Select New in the Ship To Select field to enter a new shipping address to be used for this transaction and saved with the associated entity record. * Select Custom in the Ship To Select field to enter a new shipping address to be used for this transaction only (and not saved with the associated entity record). * Click the Edit icon for the Ship To Select field to edit an existing shipping address.",
            "nullable": true
          },
          "externalId": {
            "title": "External ID",
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "SuitePhone",
                  "smbXML",
                  "CSV",
                  "ADP",
                  "QIF",
                  "QB",
                  "PERQUEST",
                  "Yahoo",
                  "PaymentLink",
                  "customerCenter",
                  "webServices",
                  "eBay",
                  "restWebServices",
                  "NLWebStore",
                  "offlineClient",
                  "SCIS",
                  "Sync"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "toBePrinted": {
            "title": "To Be Printed",
            "type": "boolean",
            "description": "Check this box if you want to save this in a queue of sales orders and picking tickets you can later chose to print. On new individual sales orders, you can click Save and Print to submit and print the sales order at once. On existing individual sales orders, you can click Print to submit and print the sales order at once."
          },
          "billPhone": {
            "title": "Billing Phone",
            "type": "string",
            "nullable": true
          },
          "billAttention": {
            "title": "Billing Attention",
            "type": "string",
            "nullable": true
          },
          "custbody_opp_prjstart": {
            "title": "Desired Start Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "toBeEmailed": {
            "title": "To Be Emailed",
            "type": "boolean",
            "description": "Check this box if you want to email this sales order. Then enter the email address in the space to the right of the check box. You can enter multiple email addresses by separating them with a semicolon. It is important to separate the addresses with only a semicolon and do not include any spaces."
          },
          "discountDate": {
            "title": "Discount Date",
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "custbody_sii_article_72_73": {
            "title": "Simplified Invoice Article 7.2 7.3",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "cardSwipe": {
            "title": "Card Swipe",
            "type": "string",
            "nullable": true
          },
          "fob": {
            "title": "FOB",
            "type": "string",
            "description": "Enter the location where the customers technically acquire ownership. For example, if your customers own goods as soon as they ship and pay the shipping costs from your location to theirs, you might enter Our warehouse.",
            "nullable": true
          },
          "exchangeRate": {
            "title": "Exchange Rate",
            "type": "number",
            "description": "The currency&apos;s exchange rate is shown in this field. You can edit the exchange rate for this transaction only, or you can update the currency record with the exchange rate you enter here.",
            "format": "double",
            "nullable": true
          },
          "custbody_itr_doc_number": {
            "title": "Document Number",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "originator": {
            "title": "Originator",
            "type": "string",
            "nullable": true
          },
          "custbody_2663_reference_num": {
            "title": "ACH/EFT Reference No.",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "billZip": {
            "title": "Billing Address Zip Code",
            "type": "string",
            "nullable": true
          },
          "custbody_esc_created_date": {
            "title": "Created Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "toBeFaxed": {
            "title": "To Be Faxed",
            "type": "boolean",
            "description": "Check this box if you want to fax this transaction. Enter the fax number in the space to the right of the check box if it doesn&apos;t already appear. To fax NetSuite forms, an administrator must first set up fax service at Setup &gt; Company &gt; Printing, Fax and Email Preferences."
          },
          "promoCodePluginImpl": {
            "title": "Promo Code",
            "type": "string",
            "nullable": true
          },
          "storeOrder": {
            "type": "string",
            "nullable": true
          },
          "custbody_reminder": {
            "title": "Reminder",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "shipDate": {
            "title": "Ship Date",
            "type": "string",
            "description": "Type or pick a shipping date for this order.",
            "format": "date",
            "nullable": true
          },
          "shippingAddress_text": {
            "title": "Shipping Address",
            "type": "string",
            "nullable": true
          },
          "custbody_opp_prjopentemplate": {
            "title": "View template",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "previousOpportunity": {
            "title": "Previous Opportunity",
            "type": "string",
            "nullable": true
          },
          "message": {
            "title": "Client Message",
            "type": "string",
            "description": "The text of the customer message you select in the Select Message field appears here. You can edit the message or enter a new customer message for only this transaction.",
            "nullable": true
          },
          "billAddressee": {
            "title": "Billing Addressee",
            "type": "string",
            "nullable": true
          },
          "custbody_sii_operation_date": {
            "title": "Operation Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "dueDate": {
            "title": "Due Date",
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "custbody_powf_ctrl_ok": {
            "title": "Controller Approval",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "billCity": {
            "title": "Billing Address City",
            "type": "string",
            "nullable": true
          },
          "orderStatus": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "A",
                  "B"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custbody1": {
            "title": "Actual Usage",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody3": {
            "title": "Contract Start Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody4": {
            "title": "Roll Back",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "tranDate": {
            "title": "Date",
            "type": "string",
            "description": "NetSuite inserts today&apos;s date for the posting date of this sales order. You can type or pick another date. What you enter here determines the date range in which this transaction appears on the Sales Order Register. You can select or enter custom date ranges on registers.",
            "format": "date",
            "nullable": true
          },
          "memo": {
            "title": "Memo",
            "type": "string",
            "description": "If you wish, enter a memo to describe this sales order. It will appear on reports such as the 2-line Sales Orders register.",
            "nullable": true
          },
          "billCountry": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "PR",
                  "PS",
                  "PT",
                  "PW",
                  "PY",
                  "QA",
                  "AD",
                  "AE",
                  "AF",
                  "AG",
                  "AI",
                  "AL",
                  "AM",
                  "AN",
                  "AO",
                  "AQ",
                  "AR",
                  "AS",
                  "AT",
                  "RE",
                  "AU",
                  "AW",
                  "AX",
                  "AZ",
                  "RO",
                  "BA",
                  "BB",
                  "RS",
                  "BD",
                  "BE",
                  "RU",
                  "BF",
                  "BG",
                  "RW",
                  "BH",
                  "BI",
                  "BJ",
                  "BL",
                  "BM",
                  "BN",
                  "BO",
                  "SA",
                  "BQ",
                  "SB",
                  "BR",
                  "SC",
                  "BS",
                  "SD",
                  "BT",
                  "SE",
                  "BV",
                  "SG",
                  "BW",
                  "SH",
                  "SI",
                  "BY",
                  "SJ",
                  "BZ",
                  "SK",
                  "SL",
                  "SM",
                  "SN",
                  "SO",
                  "CA",
                  "SR",
                  "CC",
                  "SS",
                  "CD",
                  "ST",
                  "CF",
                  "SV",
                  "CG",
                  "CH",
                  "SX",
                  "CI",
                  "SY",
                  "SZ",
                  "CK",
                  "CL",
                  "CM",
                  "CN",
                  "CO",
                  "CR",
                  "TC",
                  "CS",
                  "TD",
                  "CU",
                  "TF",
                  "CV",
                  "TG",
                  "CW",
                  "TH",
                  "CX",
                  "CY",
                  "TJ",
                  "CZ",
                  "TK",
                  "TL",
                  "TM",
                  "TN",
                  "TO",
                  "TR",
                  "TT",
                  "DE",
                  "TV",
                  "TW",
                  "DJ",
                  "TZ",
                  "DK",
                  "DM",
                  "DO",
                  "UA",
                  "UG",
                  "DZ",
                  "UM",
                  "EA",
                  "EC",
                  "US",
                  "EE",
                  "EG",
                  "EH",
                  "UY",
                  "UZ",
                  "VA",
                  "ER",
                  "VC",
                  "ES",
                  "ET",
                  "VE",
                  "VG",
                  "VI",
                  "VN",
                  "VU",
                  "FI",
                  "FJ",
                  "FK",
                  "FM",
                  "FO",
                  "FR",
                  "WF",
                  "GA",
                  "GB",
                  "WS",
                  "GD",
                  "GE",
                  "GF",
                  "GG",
                  "GH",
                  "GI",
                  "GL",
                  "GM",
                  "GN",
                  "GP",
                  "GQ",
                  "GR",
                  "GS",
                  "GT",
                  "GU",
                  "GW",
                  "GY",
                  "XK",
                  "HK",
                  "HM",
                  "HN",
                  "HR",
                  "HT",
                  "YE",
                  "HU",
                  "IC",
                  "ID",
                  "YT",
                  "IE",
                  "IL",
                  "IM",
                  "IN",
                  "IO",
                  "ZA",
                  "IQ",
                  "IR",
                  "IS",
                  "IT",
                  "ZM",
                  "JE",
                  "ZW",
                  "JM",
                  "JO",
                  "JP",
                  "KE",
                  "KG",
                  "KH",
                  "KI",
                  "KM",
                  "KN",
                  "KP",
                  "KR",
                  "KW",
                  "KY",
                  "KZ",
                  "LA",
                  "LB",
                  "LC",
                  "LI",
                  "LK",
                  "LR",
                  "LS",
                  "LT",
                  "LU",
                  "LV",
                  "LY",
                  "MA",
                  "MC",
                  "MD",
                  "ME",
                  "MF",
                  "MG",
                  "MH",
                  "MK",
                  "ML",
                  "MM",
                  "MN",
                  "MO",
                  "MP",
                  "MQ",
                  "MR",
                  "MS",
                  "MT",
                  "MU",
                  "MV",
                  "MW",
                  "MX",
                  "MY",
                  "MZ",
                  "NA",
                  "NC",
                  "NE",
                  "NF",
                  "NG",
                  "NI",
                  "NL",
                  "NO",
                  "NP",
                  "NR",
                  "NU",
                  "NZ",
                  "OM",
                  "PA",
                  "PE",
                  "PF",
                  "PG",
                  "PH",
                  "PK",
                  "PL",
                  "PM",
                  "PN"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custbody_collections_activity_date": {
            "title": "Collections Activity Date",
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_date_of_taxable_supply": {
            "title": "Date of Taxable Supply",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "id": {
            "title": "Internal ID",
            "type": "string",
            "nullable": true
          },
          "custbody_powf_pm_ok": {
            "title": "Project Manager Approval",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "billAddress": {
            "title": "Bill To",
            "type": "string",
            "description": "The default billing address autofills this field from the customer&apos;s record. To enter a different address: * Select another address in the Bill To Select field. * Select New in the Bill To Select field to enter a new billing address to be used for this transaction and saved with the associated entity record. * Select Custom in the Bill To Select field to enter a new billing address to be used for this transaction only (and not saved with the associated entity record). * Click the Edit icon for the Bill To Select field to modify an existing billing address.",
            "nullable": true
          },
          "netAltSalesTotal": {
            "title": "Net Alt. Sales Total",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "overrideShippingCost": {
            "title": "Override Shipping Cost",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "endDate": {
            "title": "End Date",
            "type": "string",
            "description": "If this order has an end date, enter or pick it here. If a sales order includes a Start Date and End Date, those dates autofill on the invoice or cash sale when the order is billed.",
            "format": "date",
            "nullable": true
          },
          "custbody_cash_register": {
            "title": "Cash Register",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "inputPnRefNum": {
            "title": "P/N Ref.",
            "type": "string",
            "nullable": true
          },
          "custbody5": {
            "title": "PS Project Baseline Set",
[...]
