{
  "openapi": "3.0.1",
  "info": {
    "title": "NetSuite REST Record API",
    "description": "NetSuite REST Record API generated 2024-05-24 at 12:31:46 UTC for account TSTDRV1303059, user joe.klug@peregrineconnect.com with role Neuron ESB Integration.",
    "termsOfService": "http://www.netsuite.com/portal/resource/terms-of-service.shtml",
    "contact": {
      "name": "Oracle NetSuite",
      "url": "http://www.netsuite.com",
      "email": "info@netsuite.com"
    },
    "version": "v1",
    "x-framework": {
      "name": "oracle-netsuite-suitetalk-rest"
    }
  },
  "servers": [
    {
      "url": "https://tstdrv1303059.suitetalk.api.netsuite.com/services/rest/record/v1"
    }
  ],
  "paths": {
    "/employee": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get list of records.",
        "operationId": "employeeGET",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query that is used to filter results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit used to specify the number of results on a single page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset used for selecting a specific page of results.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of records.",
            "content": {
              "application/vnd.oracle.resource+json; type=collection": {
                "schema": {
                  "$ref": "#/components/schemas/employeeCollection"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Insert record.",
        "operationId": "employeePOST",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/employee"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Inserted record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/employee/{id}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get record.",
        "operationId": "employeeGET2",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "expandSubResources",
            "in": "query",
            "description": "Set to 'true' to automatically expand all sublists, sublist lines, and subrecords on this record.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "simpleEnumFormat",
            "in": "query",
            "description": "Set to true to return enumeration values in a format that only shows the internal ID value.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The names of the fields and sublists on the record. Only the selected fields and sublists will be returned in the response.",
            "examples": {
              "multiple fields": {
                "value": "field1,field2"
              },
              "single field": {
                "value": "field"
              }
            },
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved record.",
            "headers": {
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/employee"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Insert or update record.",
        "operationId": "employeePUT",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "External identifier.",
            "schema": {
              "type": "string",
              "pattern": "eid:(.+)"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replaceSelectedFields",
            "in": "query",
            "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/employee"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Upserted record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Remove record.",
        "operationId": "employeeDELETE",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed record."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Employee"
        ],
        "summary": "Update record.",
        "operationId": "employeePATCH",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replaceSelectedFields",
            "in": "query",
            "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/employee"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Updated record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/employee/{id}/!transform/timeBill": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Transform to timeBill.",
        "operationId": "timeBill",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/nsResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Transformed record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/nsResource"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/employee/{id}/!transform/expenseReport": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Transform to expenseReport.",
        "operationId": "expenseReport",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/nsResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Transformed record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/nsResource"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "nsResourceCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/nsResource"
            }
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          }
        }
      },
      "nsResource": {
        "type": "object",
        "properties": {
          "id": {
            "title": "Internal identifier",
            "type": "string"
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "externalId": {
            "title": "External identifier",
            "type": "string"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          }
        }
      },
      "employee": {
        "type": "object",
        "properties": {
          "aliennumber": {
            "title": "Alien Number",
            "type": "string",
            "description": "Enter the employee&apos;s alien number. This is required only if the employee&apos;s work status is Alien authorized to work. The alien number is located in Section 1 of the completed I-9 form.",
            "nullable": true
          },
          "birthdate": {
            "title": "Birth Date",
            "type": "string",
            "description": "Enter the employee&apos;s date of birth.",
            "format": "date",
            "nullable": true
          },
          "custentity_2663_payment_method": {
            "title": "EFT Bill Payment",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "wasfulluserhasaccess": {
            "title": "FullUser hasaccess",
            "type": "string",
            "nullable": true
          },
          "custentity_pro_serv_rep": {
            "title": "Prof. Services Rep",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "wasinactive": {
            "title": "wasinactive",
            "type": "string",
            "nullable": true
          },
          "password": {
            "title": "Password",
            "type": "string",
            "description": "The Password and Confirm Password fields are only available if you checked the Manually Assign or Change Password box. Enter a password for the employee. As you type, the characters are validated against the password policy criteria, and the results displayed. You must tell the employee the password you assigned. Do not send the password by email. When you assign a password manually, you should also check the Require Password Change on Next Login box. For more information, see the help topic Password Requirements and Policies in NetSuite.",
            "nullable": true
          },
          "approvallimit": {
            "title": "Expense Approval Limit",
            "type": "number",
            "description": "In the Expense Approval Limit field, enter the maximum amount this employee is allowed to approve on an expense report when specified as an approver for another employee. Expenses that exceed this amount must be approved by another supervisor or approver with a sufficient approval limit.",
            "format": "double",
            "nullable": true
          },
          "issupportrep": {
            "title": "Support Rep",
            "type": "boolean",
            "description": "Check this box to mark this employee as a support representative. Support representatives are listed in the assigned to dropdown list for case forms and in the support rep dropdown list for support territory assignments."
          },
          "custentity2": {
            "title": "Sales Engineer",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "id": {
            "title": "Internal ID",
            "type": "string",
            "description": "Returns the employee&apos;s internal ID.",
            "nullable": true
          },
          "fax": {
            "title": "Fax",
            "type": "string",
            "description": "Enter a fax number for this record. You should enter the fax number exactly as it must be dialed. If a &apos;1&apos; is required to fax to this number, be sure to include it at the beginning of the number. The number you enter here automatically appears in the To Be Faxed field of transactions when you select this employee. To fax NetSuite forms, an administrator must first set up fax service at Setup &gt; Company &gt; Printing, Fax &amp; Email Preferences.",
            "nullable": true
          },
          "dateCreated": {
            "title": "Date Created",
            "type": "string",
            "description": "The date and time at which the Employee Record was created.",
            "format": "date-time",
            "nullable": true
          },
          "custentity_esc_last_modified_date": {
            "title": "Last Modified Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "lastName": {
            "title": "Last Name",
            "type": "string",
            "description": "Enter the employee&apos;s last name here. What you enter here automatically appears last in the Employee field. The first letter of what you enter here appears in the Initials field. This field is required for the Online Bill Pay feature.",
            "nullable": true
          },
          "effectivedatemode": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "PAST",
                  "CURRENT",
                  "FUTURE"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "socialsecuritynumber": {
            "title": "Social Security Number",
            "type": "string",
            "description": "Enter this employee&apos;s social security number here in the following format: 123-45-6789.",
            "nullable": true
          },
          "isempcenterqtyenforced": {
            "title": "Employee Center Enforce",
            "type": "string",
            "nullable": true
          },
          "phone": {
            "title": "Phone",
            "type": "string",
            "description": "Enter a phone number for your employee. This field is required for Online Bill Pay enabled employees.",
            "nullable": true
          },
          "phoneticName": {
            "title": "Furigana",
            "type": "string",
            "description": "Enter the furigana character you want to use to sort this record.",
            "nullable": true
          },
          "requirePwdChange": {
            "title": "Require Password Change On Next Login",
            "type": "boolean",
            "description": "Check this box to require this user to change their password on their next login to NetSuite. When the user next logs in, they see the Change Password page and cannot access other NetSuite pages until a new password is created and saved. Requiring this action protects your account from unauthorized access using generic passwords and prepares your account for an audit. The Require Password Change on Next Login box never displays as checked. When you check this box and save the record, an internal flag is set. When the password change occurs, the flag is cleared. If you later check the box again and save the record, the internal flag is reset to require another password change."
          },
          "purchaseorderapprovallimit": {
            "title": "Purchase Approval Limit",
            "type": "number",
            "description": "In the Purchase Approval Limit field, enter the maximum amount an employee is allowed to approve on a purchase request when specified as an approver for an employee.",
            "format": "double",
            "nullable": true
          },
          "wasretailuserhasaccess": {
            "title": "RetailUser hasaccess",
            "type": "string",
            "nullable": true
          },
          "purchaseorderlimit": {
            "title": "Purchase Limit",
            "type": "number",
            "description": "In the Purchase Limit field, enter the amount this employee can purchase without approval from a supervisor or approver.",
            "format": "double",
            "nullable": true
          },
          "defaultAddress": {
            "title": "Default Address",
            "type": "string",
            "description": "The employee&apos;s address. You can enter this information on the Address subtab, and it will appear here.",
            "nullable": true
          },
          "gender": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "b",
                  "ns",
                  "nb",
                  "m",
                  "f"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custentity_rss_website": {
            "title": "Website",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "isJobManager": {
            "title": "Job Manager",
            "type": "boolean",
            "description": "Check this box to mark the employee as a Project Manager. The employee will be added to Project Manager dropdown list in Primary Information of the project record. (This field is enabled when employee is marked as Project Resource.)"
          },
          "fulluserqty": {
            "title": "FullUser current",
            "type": "string",
            "nullable": true
          },
          "password2": {
            "title": "Confirm Password",
            "type": "string",
            "description": "Re-enter the employee&apos;s password for verification. When you manually assign a password, you need to tell the employee the login information. Do not send the password by email.",
            "nullable": true
          },
          "email": {
            "title": "Email",
            "type": "string",
            "description": "Enter your employee&apos;s email address. If you allow your employees to track time or enter expense reports online, this will become part of their access codes.",
            "nullable": true
          },
          "visaexpdate": {
            "title": "Visa Expiration Date",
            "type": "string",
            "description": "Enter the expiration date of the employee&apos;s visa. This information can be obtained from the employee&apos;s passport.",
            "format": "date",
            "nullable": true
          },
          "issalesrep": {
            "title": "Sales Rep",
            "type": "boolean",
            "description": "Check this box to mark this employee as a sales representative. Sales representatives are listed in the sales rep dropdown list for sales order forms and for sales territory assignments."
          },
          "isfulluserqtyenforced": {
            "title": "FullUser enforce",
            "type": "string",
            "nullable": true
          },
          "customForm": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "1",
                  "-10"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "expenselimit": {
            "title": "Expense Limit",
            "type": "number",
            "description": "In the Expense Limit field, enter the amount this employee can expense without approval from a supervisor or approver.",
            "format": "double",
            "nullable": true
          },
          "terminationbydeath": {
            "title": "Termination Due To Death",
            "type": "boolean"
          },
          "autoName": {
            "title": "Auto",
            "type": "boolean",
            "description": "Clear this box to manually enter an ID for this record. If you leave this box checked, NetSuite assigns an ID for this record based on your settings at Setup &gt; Company &gt; Auto-Generated Numbers."
          },
          "fulluserqtymax": {
            "title": "FullUser max",
            "type": "string",
            "nullable": true
          },
          "retailuserqty": {
            "title": "RetailUser current",
            "type": "string",
            "nullable": true
          },
          "externalId": {
            "title": "External ID",
            "type": "string",
            "description": "Returns the employee&apos;s external ID, if one is assigned.",
            "nullable": true
          },
          "entityId": {
            "title": "Entity ID",
            "type": "string",
            "description": "If the Auto box is not checked, manually enter an ID for this record. If the Auto box is checked, NetSuite assigns an ID for this record based on your settings at Setup &gt; Company &gt; Auto-Generated Numbers.",
            "nullable": true
          },
          "releasedate": {
            "title": "Termination/Release Date",
            "type": "string",
            "description": "Enter this person&apos;s last date of employment.",
            "format": "date",
            "nullable": true
          },
          "hireDate": {
            "title": "Hire Date",
            "type": "string",
            "description": "Enter the date this employee was hired.",
            "format": "date",
            "nullable": true
          },
          "isJobResource": {
            "title": "Job Resource",
            "type": "boolean",
            "description": "Check this box to enable this employee to be added as a resource on projects and tasks."
          },
          "targetUtilization": {
            "title": "Target Utilization",
            "type": "number",
            "description": "Select the required utilization for this resource.",
            "format": "double",
            "nullable": true
          },
          "mobilePhone": {
            "title": "Mobile Phone",
            "type": "string",
            "description": "Enter this employee&apos;s mobile or cell phone number here.",
            "nullable": true
          },
          "retailuserqtymax": {
            "title": "RetailUser max",
            "type": "string",
            "nullable": true
          },
          "initials": {
            "title": "Initials",
            "type": "string",
            "description": "NetSuite automatically completes this field as you enter first, middle and last names. If you want to make changes to an employee&apos;s initials, enter up to three letters in this field.",
            "nullable": true
          },
          "custentity_rss_linkedin": {
            "title": "LinkedIn",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "globalSubscriptionStatus": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  "3",
                  "4"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "btemplate": {
            "title": "Employee is Template",
            "type": "string",
            "nullable": true
          },
          "salutation": {
            "title": "Mr./Ms...",
            "type": "string",
            "description": "Enter the employee&apos;s salutation, such as Mr. or Ms., here.",
            "nullable": true
          },
          "lastReviewDate": {
            "title": "Last Review Date",
            "type": "string",
            "description": "Enter the date of this person&apos;s last salary evaluation.",
            "format": "date",
            "nullable": true
          },
          "defaultBillingAddress": {
            "title": "Default Billing Address",
            "type": "string",
            "nullable": true
          },
          "isInactive": {
            "title": "Is Inactive",
            "type": "boolean",
            "description": "Check this box to inactivate this employee record. Inactivated records no longer appear in lists or as choices anywhere in your account. To view inactivated employee records or reactivate them, go to Lists &gt; Employees &gt; Employees, and check the Show Inactives box."
          },
          "firstName": {
            "title": "First Name",
            "type": "string",
            "description": "Enter the employee&apos;s first name here. What you enter here automatically appears first in the Employee field. The first letter of what you enter here appears in the Initials field. This field is required for the Online Bill Pay feature.",
            "nullable": true
          },
          "jobdescription": {
            "title": "Job Description",
            "type": "string",
            "description": "Enter a description of the duties related to the job this person currently performs.",
            "nullable": true
          },
          "homePhone": {
            "title": "Home Phone",
            "type": "string",
            "description": "Enter this employee&apos;s home phone number here.",
            "nullable": true
          },
          "i9verified": {
            "title": "I-9 Verified",
            "type": "boolean",
            "description": "Check this box if the employee has completed an I-9 form."
          },
          "title": {
            "title": "Job Title",
            "type": "string",
            "description": "Enter this employee&apos;s official job title here.",
            "nullable": true
          },
          "custentity_2663_email_address_notif": {
            "title": "Email Address for Payment Notification",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "laborCost": {
            "title": "Labor Cost",
            "type": "number",
            "description": "Enter the employee&apos;s hourly overhead labor rate. This rate is used to calculate the estimated cost of jobs this employee works on.",
            "format": "double",
            "nullable": true
          },
          "defaultShippingAddress": {
            "title": "Default Shipping Address",
            "type": "string",
            "nullable": true
          },
          "giveAccess": {
            "title": "Login Access",
            "type": "boolean",
            "description": "Check this box to give your employee access to NetSuite. Then, assign a role to customize the level of access. You can assign multiple roles. To let your employee track time and enter expense reports, select the Employee Center role."
          },
          "custentity_rss_yoe": {
            "title": "Years Of Experience",
            "type": "number",
            "format": "float",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "empcenterqtymax": {
            "title": "EMP_CENTER_MAX",
            "type": "string",
            "nullable": true
          },
          "wasempcenterhasaccess": {
            "title": "Employee Center Has Access",
            "type": "string",
            "nullable": true
          },
          "nextReviewDate": {
            "title": "Next Review Date",
            "type": "string",
            "description": "Enter the date of this person&apos;s next salary evaluation.",
            "format": "date",
            "nullable": true
          },
          "comments": {
            "title": "Notes",
            "type": "string",
            "description": "Enter other information you want to track for this employee.",
            "nullable": true
          },
          "accountNumber": {
            "title": "Account",
            "type": "string",
            "description": "If you, your payroll service, or other benefits provider assigns account numbers to your employees, enter that account number here. This field is required for the Online Bill Pay feature.",
            "nullable": true
          },
          "authworkdate": {
            "title": "Work Authorization Expiry Date",
            "type": "string",
            "description": "Enter the date through which the employee is authorized to work until. This is required only if the employee&apos;s work status is Alien authorized to work. This date is located in Section 1 of the completed I-9 form.",
            "format": "date",
            "nullable": true
          },
          "lastModifiedDate": {
            "title": "Last Modified Date",
            "type": "string",
            "description": "Returns the date on which the employee record was last modified.",
            "format": "date-time",
            "nullable": true
          },
          "middleName": {
            "title": "Middle Name",
            "type": "string",
            "description": "Enter a middle name or initial here. What you enter here automatically appears second in the Employee field. The first letter of what you enter here appears in the Initials field. Enter up to 25 characters in this field.",
            "nullable": true
          },
          "empcenterqty": {
            "title": "Employee Center Current",
            "type": "string",
            "nullable": true
          },
          "concurrentwebservicesuser": {
            "title": "Concurrent Web Services User",
            "type": "boolean",
            "description": "A user type that allows concurrent web services access into NetSuite. Check this box to allow a user to have standard UI login access plus up to ten concurrent web services sessions."
          },
          "officePhone": {
            "title": "Office Phone",
            "type": "string",
            "description": "Enter this employee&apos;s office phone number here.",
            "nullable": true
          },
          "sendEmail": {
            "title": "Send New Access Notification Email",
            "type": "boolean",
            "description": "Check this box to send an automatic email notifying this employee of access privileges to NetSuite. The standard NetSuite email message also contains a link to let the user create a password. If you do not check this box, you must check the Manually Assign or Change Password box. You must create the password, and tell the user the password, and when and how to log in. For security reasons, do not send the password by email."
          },
          "isretailuserqtyenforced": {
            "title": "RetailUser enforce",
            "type": "string",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "location": {
            "$ref": "#/components/schemas/nsResource"
          },
          "defaultacctcorpcardexp": {
            "$ref": "#/components/schemas/nsResource"
          },
          "workCalendar": {
            "$ref": "#/components/schemas/nsResource"
          },
          "employeestatus": {
            "$ref": "#/components/schemas/nsResource"
          },
          "class": {
            "$ref": "#/components/schemas/nsResource"
          },
          "timeapprover": {
            "$ref": "#/components/schemas/employee"
          },
          "addressBook": {
            "$ref": "#/components/schemas/employee-addressBookCollection"
          },
          "corporatecards": {
            "$ref": "#/components/schemas/employee-corporatecardsCollection"
          },
          "image": {
            "$ref": "#/components/schemas/nsResource"
          },
          "purchaseorderapprover": {
            "$ref": "#/components/schemas/employee"
          },
          "empperms": {
            "$ref": "#/components/schemas/employee-emppermsCollection"
          },
          "billingClass": {
            "$ref": "#/components/schemas/nsResource"
          },
          "roles": {
            "$ref": "#/components/schemas/employee-rolesCollection"
          },
          "subscriptionMessageHistory": {
            "$ref": "#/components/schemas/employee-subscriptionMessageHistoryCollection"
          },
          "ethnicity": {
            "$ref": "#/components/schemas/nsResource"
          },
          "defaultJobResourceRole": {
            "$ref": "#/components/schemas/nsResource"
          },
          "supervisor": {
            "$ref": "#/components/schemas/employee"
          },
          "custentity_ra_approver": {
            "$ref": "#/components/schemas/employee"
          },
          "currencylist": {
            "$ref": "#/components/schemas/employee-currencylistCollection"
          },
          "maritalstatus": {
            "$ref": "#/components/schemas/nsResource"
          },
          "template": {
            "$ref": "#/components/schemas/employee"
          },
          "subsidiary": {
            "$ref": "#/components/schemas/nsResource"
          },
          "approver": {
            "$ref": "#/components/schemas/employee"
          },
          "rates": {
            "$ref": "#/components/schemas/employee-ratesCollection"
          },
          "residentstatus": {
            "$ref": "#/components/schemas/nsResource"
          },
          "directDepositList": {
            "$ref": "#/components/schemas/employee-directDepositListCollection"
          },
          "currency": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custentity_skills": {
            "$ref": "#/components/schemas/nsResourceCollection"
          },
          "subscriptions": {
            "$ref": "#/components/schemas/employee-subscriptionsCollection"
          },
          "department": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custentity_2663_eft_file_format": {
            "$ref": "#/components/schemas/nsResource"
          },
          "visatype": {
            "$ref": "#/components/schemas/nsResource"
          },
          "defaultexpensereportcurrency": {
            "$ref": "#/components/schemas/nsResource"
          },
          "employeetype": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "employee-currencylistCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/employee-currencylistElement"
            }
          }
        }
      },
      "employee-directDepositListElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "amount": {
            "title": "Amount",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "bankroutingnumber": {
            "title": "Routing Number",
            "type": "string",
            "nullable": true
          },
          "inactive": {
            "title": "Inactive",
            "type": "boolean"
          },
          "accountstatus": {
            "title": "Status",
            "type": "string",
            "nullable": true
          },
          "bankaccountnumber": {
            "title": "Account Number",
            "type": "string",
            "nullable": true
          },
          "accountprenoted": {
            "title": "Prenoted",
            "type": "boolean"
          },
          "netaccount": {
            "title": "Net Account",
            "type": "boolean"
          },
          "id": {
            "title": "ID",
            "type": "string",
            "nullable": true
          },
          "bankName": {
            "title": "Bank Name",
            "type": "string",
            "nullable": true
          },
          "savingsaccount": {
            "title": "Savings Account",
            "type": "boolean"
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          }
        },
        "x-ns-filterable": []
      },
      "employee-corporatecardsCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/employee-corporatecardsElement"
            }
          }
        }
      },
      "nsError": {
        "type": "object",
        "properties": {
          "type": {
            "title": "Type",
            "type": "string",
            "readOnly": true,
            "description": "A URI reference to the documentation about the problem type.",
            "format": "URI"
          },
          "title": {
            "title": "Title",
            "type": "string",
            "readOnly": true,
            "description": "A human-readable description of the problem type."
          },
          "status": {
            "title": "Status",
            "type": "integer",
            "readOnly": true,
            "description": "The HTTP status code generated by the server the request originates from.",
            "format": "int32"
          },
          "o:errorDetails": {
            "type": "array",
            "readOnly": true,
            "description": "An array containing one or more problem types.",
            "items": {
              "type": "object",
              "properties": {
                "detail": {
                  "title": "Detail",
                  "type": "string",
                  "readOnly": true,
                  "description": "A detailed, human-readable description of the problem occurrence."
                },
                "o:errorPath": {
                  "title": "Error Path",
                  "type": "string",
                  "readOnly": true,
                  "description": "The JSON path that indicates where the problem occurs within the request body.",
                  "format": "JSONPath"
                },
                "o:errorUrl": {
                  "title": "Error URL",
                  "type": "string",
                  "readOnly": true,
                  "description": "The URI of the first element in the request URL where the problem occurs.",
                  "format": "URI"
                },
                "o:errorHeader": {
                  "title": "Error Header",
                  "type": "string",
                  "readOnly": true,
                  "description": "The name of the HTTP header where the problem occurs."
                },
                "o:errorQueryParam": {
                  "title": "Error Query Parameter",
                  "type": "string",
                  "readOnly": true,
                  "description": "The name of the query parameter where the problem occurs."
                },
                "o:errorCode": {
                  "title": "Error Code",
                  "type": "string",
                  "readOnly": true,
                  "description": "The application-specific error code. Similar problem types are grouped together."
                }
              }
            }
          }
        }
      },
      "nsLink": {
        "type": "object",
        "properties": {
          "rel": {
            "title": "Relationship",
            "type": "string",
            "readOnly": true
          },
          "href": {
            "title": "Hypertext Reference",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "employee-subscriptionMessageHistoryElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          }
        },
        "x-ns-filterable": []
      },
      "employee-subscriptionsElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "subscribed": {
            "title": "Subscribed",
            "type": "boolean"
          },
          "lastModifiedDate": {
            "title": "Last Modified",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "subscription": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "employee-ratesCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/employee-ratesElement"
            }
          }
        }
      },
      "employee-emppermsElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "permKey1": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "LIST_UPSELLWIZARD",
                  "ADMI_PI_REMOVAL_RUN",
                  "REPO_ISSUE",
                  "REPO_BALANCESHEET",
                  "EDIT_FISCALCALENDAR",
                  "LIST_SALESCAMPAIGN",
                  "LIST_WORKPLACE",
                  "REPO_TAX",
                  "TRAN_ORDERRESERVATION",
                  "LIST_SCSNAPSHOT",
                  "LIST_RESOURCE",
                  "LIST_BASICGOVERNMENTISSUEDIDS",
                  "ADMI_EMPLOYEE_EXPENSE_SOURCE",
                  "REGT_ACCTREC",
                  "REGT_DEFEREXPENSE",
                  "LIST_FAXTEMPLATE",
                  "REPO_PROJECT_ACCOUNTING",
                  "REPO_AR",
                  "ADMI_LOGIN_OAUTH2",
                  "TRAN_FXREVAL",
                  "REPO_AP",
                  "ADMI_CUSTOMSCRIPT",
                  "ADMI_MHLEVEL",
                  "ADMI_ENTITYACCOUNTMAPPING",
                  "TRAN_GENERATECHARGES",
                  "TRAN_SALESORDCOMMITREVENUE",
                  "ADMI_TELEPHONY_SETUP",
                  "LIST_SHIPPARTSHIPMENT",
                  "ADMI_MANAGEROLES",
                  "REGT_LONGTERMLIAB",
                  "ADMI_CASETYPE",
                  "REGT_DEFERREVENUE",
                  "ADMI_SFASETUP",
                  "ADMI_ADVANCED_TEMPLATES",
                  "LIST_TAXENGINESELECTION",
                  "REPO_PAYROLL",
                  "TRAN_CHARGE",
                  "TRAN_BINWKSHT",
                  "ADMI_SUITEANALYTICSCONNECT",
                  "LIST_COMPANY_FEATURE_SETUP",
                  "TRAN_VPREPAPPRV",
                  "REGT_EQUITY",
                  "REGT_ACCTPAY",
                  "TRAN_INTERCOADJ",
                  "TRAN_STATUSVP",
                  "REGT_INCOME",
                  "LIST_TIMEOFFADMIN",
                  "ADMI_CUSTCOLUMNFIELD",
                  "REPO_PAYROLLW2",
                  "REPO_REVREC",
                  "LIST_ITEM_COLLECTION",
                  "LIST_ZONE",
                  "ADMI_TEXTENHANCE",
                  "ADMI_CSP_SETUP",
                  "ADMI_PROJECTTEMPLATE",
                  "TRAN_ORDRESVAPPRV",
                  "TRAN_SALESORDAPPRV",
                  "ADMI_TIMEMODIFICATION",
                  "TRAN_TAXLIAB",
                  "ADMI_TWOFACTORAUTH",
                  "ADMI_IMPORTXML",
                  "LIST_ITEMPROCESSGROUP",
                  "REPO_WEBSITE",
                  "TRAN_PEJRNL",
                  "LIST_ALLGOVERNMENTISSUEDIDS",
                  "LIST_SUPPLY_REALLOCATION",
                  "TRAN_COPY_BUDGET",
                  "LIST_IMPORTED_EMPLOYEE_EXPENSE",
                  "ADMI_CUSTRECORDFORM",
                  "ADMI_OPENIDSSO",
                  "LIST_PDFTEMPLATE",
                  "TRAN_WORKORDISSUE",
                  "ADMI_CUSTOMER_SEGMENTS",
                  "TRAN_OPPRTNTY",
                  "ADMI_STATETAXIMPORT",
                  "ADMI_ACCTSETUP",
                  "LIST_PLANNEDSTANDARDCOST",
                  "ADMI_ENABLEFEATURES",
                  "LIST_REVRECFIELDMAPPING",
                  "LIST_PDFMESSAGE",
                  "SYSTEM_STATUS",
                  "TRAN_PRINTCHECKSFORMS",
                  "ADMI_ALLOW_JS_HTML_UPLOAD",
                  "LIST_ENTITY_DUPLICATES",
                  "TRAN_BLANKORDAPPRV",
                  "TRAN_TIMEBILL",
                  "TRAN_ITEMRCPT",
                  "ADMI_CONVERTCLASSES",
                  "ADMI_SUBSIDIARYSETTINGSMANAGER",
                  "TRAN_OWNTRNSF",
                  "ADMI_CUSTCATEGORY",
                  "ADMI_CUSTEMAILLAYOUT",
                  "TRAN_RECEIVEINBOUND",
                  "ADMI_ACCOUNTINGBOOK",
                  "LIST_SUBSCRIPTIONCHANGEORDER",
                  "ADMI_CUSTOMERRULE",
                  "ADMI_CUSTFORM",
                  "TRAN_FFTREQ",
                  "ADMI_FFTEXCEPTIONREASON",
                  "TRAN_RECOG_GIFTCERT_INCOME",
                  "LIST_BOM",
                  "LIST_REVENUEELEMENT",
                  "TRAN_CHECK",
                  "LIST_SITEEMAILTEMPLATE",
                  "ADMI_VIEWACHACCOUNT",
                  "TRAN_WOCLOSE",
                  "ADMI_PENDINGBOOKJOURNAL",
                  "ADMI_BANK_CONNECTIVITY_CONFIG",
                  "LIST_INTERNALPUBLISH",
                  "TRAN_YTDADJST",
                  "ADMI_CONSOLIDATED",
                  "LIST_ITEM_REVISION",
                  "REPO_INTEGRATION",
                  "ADMI_ADVANCED_ORDER_MANAGEMENT",
                  "LIST_STOREITEMLISTLA",
                  "TRAN_VENDBILL",
                  "ADMI_TWOFACTORAUTHBASE",
                  "LIST_STORETAB",
                  "ADMI_CASEPRIORITY",
                  "ADMI_CAMPAIGNEMAIL",
                  "ADMI_WORKFLOW",
                  "LIST_SHORTCUT",
                  "TRAN_XMLDETAIL",
                  "TRAN_STATEMENT",
                  "LIST_CARDHOLDERAUTHENTICATION",
                  "LIST_HCMPOSITION",
                  "LIST_TABLEAU_WORKBOOK_EXPORT",
                  "LIST_PRICEBOOK",
                  "LIST_PROMOTIONCODE",
                  "LIST_CRMGROUP",
                  "ADMI_EMPLCATEGORY",
                  "LIST_EARLIEST_AVAILABILITY",
                  "ADMI_ITEMACCOUNTMAPPING",
                  "REPO_PANDL",
                  "TRAN_RTNAUTHCREDIT",
                  "LIST_PHASEDPROCESS",
                  "LIST_REVRECTREATMENT",
                  "LIST_MATERIALREQUIREMENTSPLAN",
                  "ADMI_TAXPERIODS",
                  "ADMI_PROVSN_TSTDRV",
                  "TRAN_TRANSFER",
                  "ADMI_SALESCHANNEL",
                  "ADMI_CENTERLINK",
                  "LIST_ONBOARDING_TASK",
                  "ADMI_CUSTTRANFIELD",
                  "LIST_EMPLOYEECHANGEREASON",
                  "LIST_EMPLOYEE",
                  "TRAN_CUSTRFND",
                  "LIST_CONTACTROLE",
                  "REGT_OTHEXPENSE",
                  "REPO_CUSTOMIZATION",
                  "REPO_GL",
                  "LIST_CAMPAIGNHISTORY",
                  "LIST_ENTITYSUBSIDIARYRELATION",
                  "LIST_INVCOSTTEMPLATE",
                  "LIST_UPSELL",
                  "TRAN_BLANKORD",
                  "LIST_EMPLOYEESSN",
                  "TRAN_EDITBANKINGINFO",
                  "ADMI_CASERULE",
                  "LIST_SYSTEMEMAILTEMPLATE",
                  "LIST_NEWSITEM",
                  "LIST_QUANTITYPRICINGSCHEDULE",
                  "TRAN_SALESORDFULFILL",
                  "TRAN_WORKORDCOMPLETE",
                  "REGT_OTHINCOME",
                  "GRAP_INC",
                  "ADMI_CUSTLIST",
                  "LIST_CASE",
                  "ADMI_ENTITYSTATUS",
                  "TRAN_CASHRFND",
                  "TRAN_PURCHCON",
                  "LIST_MAILMERGE",
                  "LIST_COSTEDBOMINQUIRY",
                  "LIST_INFOITEMFORM",
                  "TRAN_STATUSEFT",
                  "LIST_ITEM",
                  "LIST_RSSFEED",
                  "LIST_TAXSCHEDULE",
                  "LIST_RECOGNITIONEVENTTYPE",
                  "LIST_PAYMENT_CARD_TOKEN",
                  "ADMI_EMAILPWD",
                  "LIST_PRICEPLAN",
                  "ADMI_DEVICE_ID",
                  "LIST_TALENT_ADMINISTRATION",
                  "ADMI_CASESTATUS",
                  "ADMI_RECORDS_CATALOG",
                  "ADMI_REPOLAYOUTS",
                  "LIST_TEGATAACCOUNT",
                  "LIST_ISSUE",
                  "ADMI_ESCALATIONTERRITORY",
                  "ADMI_STORESEARCH",
                  "REPO_EMAIL",
                  "TRAN_POSTVENDORBILLVARIANCE",
                  "TRAN_TRNFRORD",
                  "ADMI_TSTDRV_MASTER",
                  "ADMI_STORESETUP",
                  "ADMI_SUITEAPP_MANAGEMENT",
                  "LIST_VENDOR",
                  "ADMI_APPDEFPKG",
                  "LIST_FILECABINET",
                  "ADMI_SUBLIST",
                  "TRAN_PURCHREQAPPRV",
                  "LIST_COMPETITOR",
                  "TRAN_INVADJST",
                  "TRAN_MGRFORECAST",
                  "TRAN_SALESORDINVOICE",
                  "LIST_TRANNUMBERAUDITLOG",
                  "ADMI_LOGIN_OAUTH",
                  "LIST_ITEMTEMPLATE",
                  "TRAN_AUTO_CASH",
                  "ADMI_CREATEJOBSFROMSALESTRANS",
                  "LIST_CAMPAIGN",
                  "ADMI_NSASOIDCPROVIDER",
                  "REPO_PURCHASEORDER",
                  "ADMI_MANAGE_OAUTH2",
                  "LIST_CONTACT",
                  "LIST_MAILMESSAGE",
                  "ADMI_INTEGRAPP",
                  "LIST_PLANNEDREVENUE",
                  "TRAN_TIMEPOST",
                  "LIST_REVRECTREATMENTRULE",
                  "REGT_OTHCURRASSET",
                  "LIST_WBS",
                  "TRAN_PAYMENTRESULTPREVIEW",
                  "TRAN_PURCHORDRECEIVE",
                  "ADMI_CSVIMPORTPREF",
                  "TRAN_INVREVAL",
                  "LIST_PA_RECORDS",
                  "ADMI_BUNDLERAUDITTRAIL",
                  "LIST_FINHISTORY",
                  "TRAN_CUSTINVCAPPRV",
                  "ADMI_CUSTEVENTFIELD",
                  "LIST_MASSUPDATES",
                  "LIST_REVENUERECOGNITIONRULE",
                  "REPO_SNAPSHOTLEAD",
                  "ADMI_EMPLOYEECENTERPUBLISHING",
                  "ADMI_SWAPPRICES",
                  "ADMI_PERIODCLOSING",
                  "TRAN_FINCHRG",
                  "ADMI_SUITECOMMERCEANALYTICS",
                  "ADMI_PERIODOVERRIDE",
                  "TRAN_SALESORD",
                  "ADMI_ACCOUNTING",
                  "ADMI_CUSTRECORD",
                  "ADMI_ACCOUNTINGLIST",
                  "LIST_WORKCALENDAR",
                  "ADMI_FINCHARGEPREF",
                  "LIST_JOBREQUISITION",
                  "ADMI_CUSTOMSUBLIST",
                  "ADMI_MANAGEUSERS",
                  "TRAN_BALJRNAL",
                  "REGT_CREDCARD",
                  "LIST_COMPONENTWHEREUSEDINQUIRY",
                  "ADMI_MOBILE_ACCESS",
                  "LIST_WEBSITE",
                  "REPO_QUOTA",
                  "ADMI_RESTWEBSERVICES",
                  "REPO_SNAPSHOTCASE",
                  "LIST_EMPLOYEECHANGEREQUEST",
                  "LIST_REALLOCATE_ORDER_ITEM",
                  "ADMI_CLASSESTOLOCS",
                  "LIST_BILLCAPTURE",
                  "TRAN_WORKORDMARKBUILT",
                  "LIST_GLLINESAUDITLOGSEG",
                  "TRAN_ALLOCSCHEDULE",
                  "TRAN_TAXPYMT",
                  "ADMI_KEYS",
                  "LIST_INFOCATEGORY",
                  "ADMI_EMPLOYEELIST",
                  "REPO_CASHFLOW",
                  "LIST_PICKTASK",
                  "ADMI_PROJECT_ACCOUNTING_SETUP",
                  "LIST_COLORTHEME",
                  "REPO_WEBSTORE",
                  "ADMI_TRAN_ACCOUNTING_RULES",
                  "TRAN_APPROVEVP",
                  "TRAN_CARDRFND",
                  "TRAN_EXPREPT",
                  "ADMI_GAINLOSSACCTMAPPING",
                  "REPO_PAYROLLHIDEFINEMPINFO",
                  "LIST_COMPANY",
                  "LIST_CALENDAR",
                  "ADMI_CUSTFIELD",
                  "TRAN_LIABPYMT",
                  "REPO_WORKFORCEANALYTICS",
                  "ADMI_ORDERALLOCATIONSTRATEGY",
                  "ADMI_TEAMSELLINGCONTRIBUTION",
                  "TRAN_VENDAUTHAPPRV",
                  "LIST_REVENUEPLAN",
                  "LIST_GIFT_CERTIFICATE",
                  "REGT_UNBILLEDREC",
                  "ADMI_CERTIFICATES",
                  "ADMI_MANAGE_OAUTH_TOKENS",
                  "LIST_SUBSIDIARY",
                  "LIST_CRMTEMPLATE",
                  "ADMI_ISSUEOBFUSCATEMASSUPDATE",
                  "ADMI_AUDITLOGIN",
                  "REPO_SCHEDULE",
                  "ADMI_OPENIDSSOSETUP",
                  "ADMI_BALANCE_TRX_BY_SEGMENTS",
                  "LIST_EMPLOYEE_SELF",
                  "ADMI_SUPPORTSETUP",
                  "TRAN_NETTSTLM",
                  "TRAN_WORKORD",
                  "TRAN_RTNAUTHRECEIVE",
                  "ADMI_CASETERRITORY",
                  "ADMI_IMPORTCSVFILE",
                  "ADMI_PARTNERCONTRIBUTION",
                  "REPO_AUTHPARTNERCOMMISSION",
                  "REPO_PAYROLLHOURSEARNING",
                  "ADMI_CLOSE",
                  "ADMI_CREATEPEER",
                  "LIST_TAXDETAILSTAB",
                  "LIST_SHIPITEM",
                  "ADMI_KERNEL",
                  "GRAP_NETWORTH",
                  "LIST_BIG_SEARCH",
                  "ADMI_CUSTADDRESSFORM",
                  "NONE_NEEDED",
                  "ADMI_ACH",
                  "TRAN_REVARRNG",
                  "TRAN_REVCONTR",
                  "ADMI_GLOBALACCOUNTMAPPING",
                  "LIST_PROJECTTASK",
                  "TRAN_RTNAUTHAPPRV",
                  "ADMI_RECSYS",
                  "ADMI_CUSTBODYFIELD",
                  "TRAN_REVCOMRV",
                  "LIST_TEMPLATE_CATEGORY",
                  "LIST_REVRECVSOE",
                  "REPO_DEFERREDEXPENSE",
                  "LIST_KUDOS",
                  "LIST_BONUS",
                  "LIST_PARTNERCOMMISSNRULES",
                  "LIST_SENTEMAIL",
                  "ADMI_PAYMENT_LINK_SETUP",
                  "TRAN_VENDAUTHRETURN",
                  "REPO_PURCHASES",
                  "LIST_CUSTPROFILE",
                  "ADMI_SS_NLCORP",
                  "ADMI_NUMBERING",
                  "LIST_DEPARTMENT",
                  "TRAN_CARDHOLDERAUTHENTICATION",
                  "REGT_PAYROLL",
                  "REGT_EXPENSE",
                  "REPO_INVENTORY",
                  "ADMI_SUBSIDIARYHIERARCHYMOD",
                  "TRAN_JOURNALAPPRV",
                  "ADMI_PROVSN_NEW_TSTDRV",
                  "TRAN_RTNAUTH",
                  "TRAN_INVCOUNT",
                  "REPO_UNBILLED",
                  "TRAN_XCHGREQUEST",
                  "LIST_CUSTRECORDENTRY",
                  "TRAN_PRICELIST",
                  "LIST_MEDIAITEMFOLDER",
                  "ADMI_CUSTLAYOUT",
                  "ADMI_WEBSERVICES",
                  "TRAN_APPROVEEFT",
                  "TRAN_BUILD",
                  "TRAN_VENDAUTH",
                  "ADMI_CUSTOTHERFIELD",
                  "TRAN_CUSTDEP",
                  "LIST_WORKASSIGNMENT",
                  "LIST_ACCOUNT",
                  "TRAN_WAVE",
                  "ADMI_OUTLOOKINTEGRATION",
                  "LIST_LOCATION",
                  "ADMI_ANALYTICS",
                  "ADMI_IMPORTOVERRIDESSTRIG",
                  "LIST_KEYS",
                  "REPO_TRIALBALANCE",
                  "ADMI_CREDITCARD",
                  "LIST_ALLOCSCHEDULE",
                  "ADMI_CUSTENTRYFORM",
                  "LIST_RELATEDITEMS",
                  "REPO_TRAN",
                  "LIST_SUBSCRIPTIONPLAN",
                  "LIST_ADDRESS",
                  "ADMI_TYPE",
                  "LIST_SUBSCRIPTION",
                  "REGT_OTHCURRLIAB",
                  "TRAN_EDITPROFILE",
                  "TRAN_WORKORDBUILD",
                  "LIST_EXPENSEPLAN",
                  "ADMI_DELETEDRECORD",
                  "TRAN_TIMER",
                  "TRAN_POSTPERIODS",
                  "LIST_ONBOARDING_ADMINISTRATION",
                  "TRAN_TRNFRORDAPPRV",
                  "GRAP_EXP",
                  "LIST_EXPENSEAMORTIZATIONRULE",
                  "TRAN_ESTIMATE",
                  "ADMI_UNCATSITEITEMS",
                  "ADMI_CUSTITEMFIELD",
                  "LIST_CRMMESSAGE",
                  "TRAN_CARDHOLDERAUTHEVENT",
                  "REPO_PARTNERCOMMISSION",
                  "LIST_PROJECT_BUDGET",
                  "REPO_ANALYTICS",
                  "LIST_CONVERTLEAD",
                  "TRAN_VPREP",
                  "LIST_ITEMPROCESSFAMILY",
                  "ADMI_REMINDERS",
                  "ADMI_SETUPCOMPANY",
                  "ADMI_CONVERTLEAD",
                  "ADMI_CASEORIGIN",
                  "LIST_INFOITEM",
                  "LIST_EMPLOYEE_ADMINISTRATION",
                  "TRAN_NETTINGSETTLEMENTAPPRV",
                  "ADMI_ACCTPERIODS",
                  "ADMI_SS_SCHEDULING",
                  "ADMI_WEBSERVICESOVERRIDESSTRIG",
                  "LIST_DISTRIBUTIONNETWORK",
                  "LIST_SALESROLE",
                  "TRAN_VENDPYMT",
                  "LIST_TAXITEM",
                  "REPO_SALESORDER",
                  "LIST_FISCALCALENDAR",
                  "TRAN_PARTNERCOMMISSN",
                  "TRAN_PURCHORD",
                  "ADMI_CAMPAIGNSETUP",
                  "ADMI_FINANCIALINSTITUTION",
                  "TRAN_WOCOMPL",
                  "TRAN_CUSTPYMT",
                  "ADMI_PI_REMOVAL_CREATE",
                  "LIST_PI_ACCESS_LOG",
                  "LIST_PARTNER",
                  "REGT_FIXEDASSET",
                  "ADMI_CUSTFIELDTAB",
                  "LIST_FAIRVALUEPRICE",
                  "LIST_EMAILTEMPLATE",
                  "ADMI_PROVSN_QA",
                  "LIST_UNIT",
                  "TRAN_VENDCRED",
                  "REPO_RSRCALLOCATION",
                  "LIST_TASK",
                  "ADMI_BACKUPEXPORT",
                  "ADMI_BILLINGINFO",
                  "LIST_FIND",
                  "ADMI_DUPLICATESETUP",
                  "TRAN_DEPOSIT",
                  "TRAN_INVWKSHT",
                  "LIST_RSRCALLOCATIONAPPRV",
                  "TRAN_VENDBILLAPPRV",
                  "REPO_RECONCILE",
                  "ADMI_MANAGE_OWN_OAUTH_TOKENS",
                  "TRAN_CLEARHOLD",
                  "LIST_EMPLOYEEEFFECTIVEDATING",
                  "ADMI_CROSSCHARGE",
                  "LIST_ONBOARDING_PLAN",
                  "LIST_OUTBOUNDREQUEST",
                  "ADMI_XMLADPSETUP",
                  "LIST_BILLINBOUNDSHIPMENT",
                  "ADMI_CUSTITEMNUMBERFIELD",
                  "TRAN_WORKORDMARKRELEASED",
                  "TRAN_STATUSDD",
                  "LIST_CASE_DUPLICATES",
                  "REPO_AMORTIZATION",
                  "TRAN_MATCHING_RULES",
                  "LIST_UNDELIVEREDEMAIL",
                  "REPO_NONPOSTING",
                  "ADMINDOCS",
                  "REPO_SUPPORT",
                  "ADMI_SAMLSSOSETUP",
                  "LIST_GENERICRESOURCE",
                  "ADMI_KPIREPORT",
                  "ADMI_SETUPIMAGERESIZE",
                  "TRAN_RFQ",
                  "ADMI_ADMINDOCSEU",
                  "LIST_STORECATEGORY",
                  "REPO_RETURNAUTH",
                  "ADMI_UNLOCKEDTIMEPERIOD",
                  "ADMI_COPYPROJECTTASK",
                  "LIST_JOB",
                  "ADMI_SAVEDASHBOARD",
                  "LIST_GOVERNMENTISSUEDIDTYPE",
                  "LIST_EMPLOYEESEPARATION",
                  "ADMI_APPPUBLISHER",
                  "REGT_BANK",
                  "ADMI_OUTLOOKINTEGRATION_V3",
                  "LIST_GENERAL_TOKEN",
                  "TRAN_GATEWAYNOTIFICATION",
                  "REPO_W4",
                  "TRAN_WORKORDCLOSE",
                  "LIST_CATEGORY",
                  "ADMI_SAC_READALL",
                  "LIST_OTHER_ADDRESS",
                  "LIST_PROJECTTEMPLATE",
                  "TRAN_UNBUILD",
                  "LIST_PAYMENT_INSTRUMENTS",
                  "ADMI_SNAPSHOTS",
                  "LIST_AUDITTRAIL",
                  "ADMI_SALESTERRITORY",
                  "LIST_INBOUNDSHIPMENT",
                  "LIST_CLASS",
                  "REPO_TIME",
                  "LIST_SHIPPARTPACKAGE",
                  "ADMI_CASEFORM",
                  "TRAN_FORECAST",
                  "ADMI_UPDATEPRICES",
                  "TRAN_CUSTCHRG",
                  "TRAN_DEPAPPL",
                  "TRAN_APPROVECOMMISSN",
                  "LIST_NOTIFICATION",
                  "LIST_FAIRVALUEDIMENSION",
                  "REGT_OTHASSET",
                  "TRAN_CUSTCRED",
                  "TRAN_SYSJRNL",
                  "TRAN_SALESORDREVENUECONTRACT",
                  "REPO_ACCOUNTDETAIL",
                  "ADMI_ADMINDOCSOTHER",
                  "ADMI_COMMISSIONSETUP",
                  "LIST_PROJECTREVENUERULE",
                  "TRAN_VENDAUTHCREDIT",
                  "TRAN_TEGRCVBL",
                  "ADMI_CUSTTASKS",
                  "LIST_RESOURCEGROUP",
                  "REPO_PAYROLLJOURNAL",
                  "TRAN_RTNAUTHREVERSEREVCOMMIT",
                  "TRAN_PAYMENTEVENT",
                  "ADMI_CUSTENTITYFIELD",
                  "ADMI_KNOWLEDGEBASE",
                  "TRAN_COMMISSN",
                  "LIST_CHECKITEMAVAILABILITY",
                  "REPO_SALES_PARTNER",
                  "LIST_SHIPPARTREGISTRATION",
                  "TRAN_REVARRNGAPPRV",
                  "TRAN_PURCHORDBILL",
                  "LIST_RSRCALLOCATION",
                  "LIST_ORGANIZATIONVALUE",
                  "ADMI_WEBSERVICESSETUP",
                  "LIST_RECORDCUSTFIELD",
                  "TRAN_VENDPYMTAPPRV",
                  "TRAN_BILLPAY_APPROVE",
                  "ADMI_MANAGEPERMISSIONS",
                  "ADMI_SITEMANAGEMENT",
                  "ADMI_CUSTCENTER",
                  "REGT_STAT",
                  "TRAN_ITEMSHIP",
                  "ADMI_CUSTPAGE",
                  "REGT_COGS",
                  "ADMI_UPSELLSETUP",
                  "LIST_HISTORY",
                  "LIST_MAILTEMPLATE",
                  "TRAN_VPREPAPP",
                  "LIST_PAYMENT_CARD",
                  "TRAN_TEGPYBL",
                  "ADMI_BUNDLER",
                  "LIST_CUSTJOB",
                  "REPO_PAYROLLLIAB",
                  "TRAN_REVCOMM",
                  "ADMI_CUSTSECTION",
                  "REPO_PAYCHECKDETAIL",
                  "TRAN_MANAGEPAYROLL",
                  "LIST_EMPLOYEECHANGETYPE",
                  "TRAN_PURCHCONAPPRV",
                  "ADMI_ISSUESETUP",
                  "ADMI_EXPENSEREPORTPOLICY",
                  "ADMI_MANUFACTURING",
                  "ADMI_MHNODE",
                  "LIST_EMPLOYEE_CONFIDENTIAL",
                  "TRAN_PAYROLLRUN",
                  "LIST_FAXMESSAGE",
                  "LIST_BILLOFMATERIALSINQUIRY",
                  "TRAN_CARDCHRG",
                  "LIST_ITEMREVENUECATEGORY",
                  "TRAN_PRINTSHIPMENTDOCS",
                  "TRAN_IMPORTOLBFILE",
                  "TRAN_COMMITPAYROLL",
                  "REPO_941",
                  "TRAN_WOISSUE",
                  "ADMI_IMPORTDEFAULT",
                  "REPO_940",
                  "TRAN_INVTRNFR",
                  "ADMI_SETUPYEARSTATUS",
                  "ADMI_DEPTSEGMENTMAPPING",
                  "ADMI_CLASSSEGMENTMAPPING",
                  "LIST_BIN",
                  "LIST_EMPLOYEE_PUBLIC",
                  "ADMI_PAYROLL",
                  "REPO_SALES_PROMO",
                  "TRAN_FIND",
                  "TRAN_BALANCEOVERVIEW",
                  "ADMI_COMMERCECATEGORY",
                  "TRAN_STATCHNG",
                  "REPO_SFA",
                  "REGT_NONPOSTING",
                  "TRAN_BINTRNFR",
                  "ADMI_VIEWCREDITCARDS",
                  "ADMI_ALLOWNONGLCHANGES",
                  "LIST_ORDER_REALLOCATION",
                  "REPO_TAXREPORTS",
                  "ADMI_LOCATIONCOSTINGGROUP",
                  "TRAN_STPICKUP",
                  "ADMI_APP_DEPLOYMENT",
                  "TRAN_GST_REFUND",
                  "TRAN_PROJECT_IC_CHARGE_REQUEST",
                  "LIST_PICKSTRATEGY",
                  "TRAN_CASHSALE",
                  "ADMI_SUITE_OAX_CONNECTOR",
                  "TRAN_OPENBAL",
                  "TRAN_QUOTA",
                  "LIST_GLOBALINVTRELATIONSHIP",
                  "LIST_PAYCHECK",
                  "LIST_BULK_PROCESSING",
                  "LIST_OTHERNAME",
                  "REPO_MARKETING",
                  "TRAN_CREATEINVCOUNT",
                  "LIST_OVERTIMEPOLICY",
                  "LIST_PAYMETH",
                  "ADMI_CUSTOMIZEDFIELDLEVELHELP",
                  "ADMI_SECRETS",
                  "ADMI_BILLPAYSETUP",
                  "LIST_MYROLES",
                  "TRAN_BILLPAY_STATUS",
                  "LIST_EXPORT",
                  "LIST_AMORTIZATION",
                  "ADMI_OIDCSETUP",
                  "LIST_HCMJOB",
                  "ADMI_TAXMIGRATION",
                  "REPO_PSTSUMMARY",
                  "ADMI_MANAGECUSTOMSEGMENTS",
                  "ADMI_COMPANY",
                  "ADMI_CUSTOMERFORM",
                  "ADMI_HTMLFORMULA",
                  "ADMI_USER",
                  "LIST_USAGE",
                  "TRAN_CUSTAUTH",
                  "REPO_REMINDEREMPLOYEE",
                  "ADMI_MIGRATEREVARRNGANDPLAN",
                  "REPO_PERIODENDFINANCIALS",
                  "LIST_EVENT",
                  "TRAN_INVDISTR",
                  "ADMI_OIDC",
                  "TRAN_PRINT",
                  "TRAN_CUSTINVC",
                  "ADMI_LOCSEGMENTMAPPING",
                  "REPO_BUDGET",
                  "TRAN_ORDRESV",
                  "ADMI_REVIEW_CUSTOM_GL_RUNS",
                  "LIST_BONUSTYPE",
                  "LIST_PUBLIC_TEMPLATE_CATEGORY",
                  "LIST_CALL",
                  "REPO_1099",
                  "ADMI_BLCGA",
                  "ADMI_CRMLIST",
                  "LIST_GLLINESAUDITLOG",
                  "TRAN_AUDIT",
                  "LIST_MFGCOSTTEMPLATE",
                  "TRAN_XCHGJRNL",
                  "ADMI_ADMINDOCSNA",
                  "LIST_CERTIFICATES",
                  "TRAN_PURCHREQ",
                  "LIST_BILLINGSCHEDULE",
                  "TRAN_CHARGERULE",
                  "LIST_BILLOFDISTRIBUTION",
                  "LIST_LABORCOSTING",
                  "LIST_COMMISSIONRULES",
                  "ADMI_VICARIOUS_EMAILS",
                  "REPO_COMMISSION",
                  "ADMI_DOMAINS",
                  "LIST_ITEMDEMANDPLAN",
                  "TRAN_AMENDW4",
                  "LIST_CARDHOLDERAUTHEVENT",
                  "LIST_FAIRVALUEFORMULA",
                  "ADMI_WEBSERVICESLOG",
                  "TRAN_TIMECALC",
                  "TRAN_WORKORDMARKFIRMED",
                  "LIST_MEMDOC",
                  "LIST_ACH",
                  "LIST_ITEMSUPPLYPLAN",
                  "TRAN_PCHKJRNL",
                  "ADMI_ISSUESHOWSTOPPER",
                  "ADMI_TRANSITEMTXT",
                  "LIST_PUBLISHSEARCH",
                  "LIST_INTEGRAPP",
                  "LIST_STANDARDCOSTVERSION",
                  "REPO_FINANCIALS",
                  "TRAN_APPROVEDD",
                  "ADMI_BUNDLERMANUP",
                  "TRAN_BUDGET",
                  "TRAN_PAYCHECK",
                  "GRAP_AP",
                  "LIST_CURRENCY",
                  "LIST_TIMECODE",
                  "GRAP_AR",
                  "ADMI_ESCALATIONRULE",
                  "LIST_ORDERMANAGEDASHBOARD",
                  "TRAN_APPROVEPARTNERCOMM",
                  "ADMI_SUPPLYALLOCATIONSETUP",
                  "ADMI_TRANSLATION",
                  "LIST_EMPLOYEE_RECORD",
                  "REPO_GSTSUMMARY",
                  "LIST_PAYROLLITEM",
                  "LIST_SCHEDULEMASSUPDATES",
                  "ADMI_REPOGROUPS",
                  "ADMI_CLOSEPERIOD",
                  "LIST_INVENTORYSTATUS",
                  "TRAN_ESTIMATEDCOSTOVERRIDE",
                  "ADMI_ORDERPROMISING",
                  "LIST_EMPLOYEE_ACCESS",
                  "TRAN_JOURNAL",
                  "TRAN_ADJUSTMENTJOURNAL",
                  "ADMI_USERPREF",
                  "ADMI_MHVERSION",
                  "TRAN_PAYMENTAUDIT",
                  "ADMI_SAMLSSO",
                  "LIST_PRESCATEGORY",
                  "TRAN_VENDRFQ",
                  "REPO_GRANT_ACCESS",
                  "ADMI_CUSTTRANSACTION",
                  "ADMI_CASEISSUE",
                  "ADMI_SUITESIGNON",
                  "REPO_PAYROLLSTATEWITHHOLD",
                  "REPO_BOOKINGS",
                  "LIST_KNOWLEDGEBASE",
                  "LIST_MFGROUTING",
                  "LIST_REVRECSCHEDULE",
                  "REPO_SALES",
                  "ADMI_PROVISION",
                  "ADMI_EXPORTIIF",
                  "ADMI_CASEALERT",
                  "TRAN_RECONCILE",
                  "ADMI_MANAGE_RESTRICTIONS"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "name": {
            "title": "Name",
            "type": "string",
            "nullable": true
          },
          "permLevel1": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "0",
                  "1",
                  "2",
                  "3",
                  "4"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          }
        },
        "x-ns-filterable": []
      },
      "employee-subscriptionsCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/employee-subscriptionsElement"
            }
          }
        }
      },
      "employeeCollection": {
        "type": "object",
        "properties": {
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "An array field that represents a collection of elements, for example, sublist lines, multiselect items, or search results.",
            "items": {
              "$ref": "#/components/schemas/employee"
            }
          },
          "links": {
[...]
