{
  "openapi": "3.0.1",
  "info": {
    "title": "NetSuite REST Record API",
    "description": "NetSuite REST Record API generated 2024-05-24 at 12:34:55 UTC for account TSTDRV1303059, user joe.klug@peregrineconnect.com with role Neuron ESB Integration.",
    "termsOfService": "http://www.netsuite.com/portal/resource/terms-of-service.shtml",
    "contact": {
      "name": "Oracle NetSuite",
      "url": "http://www.netsuite.com",
      "email": "info@netsuite.com"
    },
    "version": "v1",
    "x-framework": {
      "name": "oracle-netsuite-suitetalk-rest"
    }
  },
  "servers": [
    {
      "url": "https://tstdrv1303059.suitetalk.api.netsuite.com/services/rest/record/v1"
    }
  ],
  "paths": {
    "/creditMemo": {
      "get": {
        "tags": [
          "CreditMemo"
        ],
        "summary": "Get list of records.",
        "operationId": "creditMemoGET",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query that is used to filter results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit used to specify the number of results on a single page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset used for selecting a specific page of results.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of records.",
            "content": {
              "application/vnd.oracle.resource+json; type=collection": {
                "schema": {
                  "$ref": "#/components/schemas/creditMemoCollection"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CreditMemo"
        ],
        "summary": "Insert record.",
        "operationId": "creditMemoPOST",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/creditMemo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Inserted record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    },
    "/creditMemo/{id}": {
      "get": {
        "tags": [
          "CreditMemo"
        ],
        "summary": "Get record.",
        "operationId": "creditMemoGET2",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "expandSubResources",
            "in": "query",
            "description": "Set to 'true' to automatically expand all sublists, sublist lines, and subrecords on this record.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "simpleEnumFormat",
            "in": "query",
            "description": "Set to true to return enumeration values in a format that only shows the internal ID value.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The names of the fields and sublists on the record. Only the selected fields and sublists will be returned in the response.",
            "examples": {
              "multiple fields": {
                "value": "field1,field2"
              },
              "single field": {
                "value": "field"
              }
            },
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved record.",
            "headers": {
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.oracle.resource+json; type=singular": {
                "schema": {
                  "$ref": "#/components/schemas/creditMemo"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CreditMemo"
        ],
        "summary": "Insert or update record.",
        "operationId": "creditMemoPUT",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "External identifier.",
            "schema": {
              "type": "string",
              "pattern": "eid:(.+)"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replaceSelectedFields",
            "in": "query",
            "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/creditMemo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Upserted record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CreditMemo"
        ],
        "summary": "Remove record.",
        "operationId": "creditMemoDELETE",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed record."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CreditMemo"
        ],
        "summary": "Update record.",
        "operationId": "creditMemoPATCH",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "description": "The server behavior requested by the client. Use 'respond-async' to execute the request asynchronously. If the request is executed asynchronously, 'Preference-applied: respond-async' is returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          },
          {
            "name": "X-NetSuite-Idempotency-Key",
            "in": "header",
            "description": "A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-NetSuite-PropertyNameValidation",
            "in": "header",
            "description": "Sets the strictness of property name validation.",
            "schema": {
              "type": "string",
              "default": "Warning",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "X-NetSuite-PropertyValueValidation",
            "in": "header",
            "description": "Sets the strictness of property value validation.",
            "schema": {
              "type": "string",
              "default": "Error",
              "enum": [
                "Error",
                "Warning",
                "Ignore"
              ]
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.",
            "examples": {
              "multiple sublists": {
                "value": "sublist1,subrecord.sublist2"
              },
              "sublist on subrecord": {
                "value": "subrecord.sublist"
              },
              "single sublist": {
                "value": "sublist"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replaceSelectedFields",
            "in": "query",
            "description": "If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/vnd.oracle.resource+json; type=singular": {
              "schema": {
                "$ref": "#/components/schemas/creditMemo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Updated record.",
            "headers": {
              "X-NetSuite-PropertyValidation": {
                "description": "The description of a property validation failure.",
                "schema": {
                  "type": "string"
                }
              },
              "X-NetSuite-Warning": {
                "description": "Warning messages that occurred during processing.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/vnd.oracle.resource+json; type=error": {
                "schema": {
                  "$ref": "#/components/schemas/nsError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "nsResourceCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/nsResource"
            }
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          }
        }
      },
      "nsResource": {
        "type": "object",
        "properties": {
          "id": {
            "title": "Internal identifier",
            "type": "string"
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "externalId": {
            "title": "External identifier",
            "type": "string"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          }
        }
      },
      "creditMemo-applyCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/creditMemo-applyElement"
            }
          }
        }
      },
      "nsError": {
        "type": "object",
        "properties": {
          "type": {
            "title": "Type",
            "type": "string",
            "readOnly": true,
            "description": "A URI reference to the documentation about the problem type.",
            "format": "URI"
          },
          "title": {
            "title": "Title",
            "type": "string",
            "readOnly": true,
            "description": "A human-readable description of the problem type."
          },
          "status": {
            "title": "Status",
            "type": "integer",
            "readOnly": true,
            "description": "The HTTP status code generated by the server the request originates from.",
            "format": "int32"
          },
          "o:errorDetails": {
            "type": "array",
            "readOnly": true,
            "description": "An array containing one or more problem types.",
            "items": {
              "type": "object",
              "properties": {
                "detail": {
                  "title": "Detail",
                  "type": "string",
                  "readOnly": true,
                  "description": "A detailed, human-readable description of the problem occurrence."
                },
                "o:errorPath": {
                  "title": "Error Path",
                  "type": "string",
                  "readOnly": true,
                  "description": "The JSON path that indicates where the problem occurs within the request body.",
                  "format": "JSONPath"
                },
                "o:errorUrl": {
                  "title": "Error URL",
                  "type": "string",
                  "readOnly": true,
                  "description": "The URI of the first element in the request URL where the problem occurs.",
                  "format": "URI"
                },
                "o:errorHeader": {
                  "title": "Error Header",
                  "type": "string",
                  "readOnly": true,
                  "description": "The name of the HTTP header where the problem occurs."
                },
                "o:errorQueryParam": {
                  "title": "Error Query Parameter",
                  "type": "string",
                  "readOnly": true,
                  "description": "The name of the query parameter where the problem occurs."
                },
                "o:errorCode": {
                  "title": "Error Code",
                  "type": "string",
                  "readOnly": true,
                  "description": "The application-specific error code. Similar problem types are grouped together."
                }
              }
            }
          }
        }
      },
      "nsLink": {
        "type": "object",
        "properties": {
          "rel": {
            "title": "Relationship",
            "type": "string",
            "readOnly": true
          },
          "href": {
            "title": "Hypertext Reference",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "creditMemo-accountingBookDetailCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/creditMemo-accountingBookDetailElement"
            }
          }
        }
      },
      "creditMemo-shippingAddress": {
        "type": "object",
        "properties": {
          "zip": {
            "title": "Zip",
            "type": "string",
            "description": "Enter the postal code the way it should appear on all forms except checks.",
            "nullable": true
          },
          "country": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "PR",
                  "PS",
                  "PT",
                  "PW",
                  "PY",
                  "QA",
                  "AD",
                  "AE",
                  "AF",
                  "AG",
                  "AI",
                  "AL",
                  "AM",
                  "AN",
                  "AO",
                  "AQ",
                  "AR",
                  "AS",
                  "AT",
                  "RE",
                  "AU",
                  "AW",
                  "AX",
                  "AZ",
                  "RO",
                  "BA",
                  "BB",
                  "RS",
                  "BD",
                  "BE",
                  "RU",
                  "BF",
                  "BG",
                  "RW",
                  "BH",
                  "BI",
                  "BJ",
                  "BL",
                  "BM",
                  "BN",
                  "BO",
                  "SA",
                  "BQ",
                  "SB",
                  "BR",
                  "SC",
                  "BS",
                  "SD",
                  "BT",
                  "SE",
                  "BV",
                  "SG",
                  "BW",
                  "SH",
                  "SI",
                  "BY",
                  "SJ",
                  "BZ",
                  "SK",
                  "SL",
                  "SM",
                  "SN",
                  "SO",
                  "CA",
                  "SR",
                  "CC",
                  "SS",
                  "CD",
                  "ST",
                  "CF",
                  "SV",
                  "CG",
                  "CH",
                  "SX",
                  "CI",
                  "SY",
                  "SZ",
                  "CK",
                  "CL",
                  "CM",
                  "CN",
                  "CO",
                  "CR",
                  "TC",
                  "CS",
                  "TD",
                  "CU",
                  "TF",
                  "CV",
                  "TG",
                  "CW",
                  "TH",
                  "CX",
                  "CY",
                  "TJ",
                  "CZ",
                  "TK",
                  "TL",
                  "TM",
                  "TN",
                  "TO",
                  "TR",
                  "TT",
                  "DE",
                  "TV",
                  "TW",
                  "DJ",
                  "TZ",
                  "DK",
                  "DM",
                  "DO",
                  "UA",
                  "UG",
                  "DZ",
                  "UM",
                  "EA",
                  "EC",
                  "US",
                  "EE",
                  "EG",
                  "EH",
                  "UY",
                  "UZ",
                  "VA",
                  "ER",
                  "VC",
                  "ES",
                  "ET",
                  "VE",
                  "VG",
                  "VI",
                  "VN",
                  "VU",
                  "FI",
                  "FJ",
                  "FK",
                  "FM",
                  "FO",
                  "FR",
                  "WF",
                  "GA",
                  "GB",
                  "WS",
                  "GD",
                  "GE",
                  "GF",
                  "GG",
                  "GH",
                  "GI",
                  "GL",
                  "GM",
                  "GN",
                  "GP",
                  "GQ",
                  "GR",
                  "GS",
                  "GT",
                  "GU",
                  "GW",
                  "GY",
                  "XK",
                  "HK",
                  "HM",
                  "HN",
                  "HR",
                  "HT",
                  "YE",
                  "HU",
                  "IC",
                  "ID",
                  "YT",
                  "IE",
                  "IL",
                  "IM",
                  "IN",
                  "IO",
                  "ZA",
                  "IQ",
                  "IR",
                  "IS",
                  "IT",
                  "ZM",
                  "JE",
                  "ZW",
                  "JM",
                  "JO",
                  "JP",
                  "KE",
                  "KG",
                  "KH",
                  "KI",
                  "KM",
                  "KN",
                  "KP",
                  "KR",
                  "KW",
                  "KY",
                  "KZ",
                  "LA",
                  "LB",
                  "LC",
                  "LI",
                  "LK",
                  "LR",
                  "LS",
                  "LT",
                  "LU",
                  "LV",
                  "LY",
                  "MA",
                  "MC",
                  "MD",
                  "ME",
                  "MF",
                  "MG",
                  "MH",
                  "MK",
                  "ML",
                  "MM",
                  "MN",
                  "MO",
                  "MP",
                  "MQ",
                  "MR",
                  "MS",
                  "MT",
                  "MU",
                  "MV",
                  "MW",
                  "MX",
                  "MY",
                  "MZ",
                  "NA",
                  "NC",
                  "NE",
                  "NF",
                  "NG",
                  "NI",
                  "NL",
                  "NO",
                  "NP",
                  "NR",
                  "NU",
                  "NZ",
                  "OM",
                  "PA",
                  "PE",
                  "PF",
                  "PG",
                  "PH",
                  "PK",
                  "PL",
                  "PM",
                  "PN"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "addr2": {
            "title": "Address 2",
            "type": "string",
            "description": "Enter an optional second address line the way it should appear on forms. For employees, customers, partners, and vendors, what you enter here autofills on forms if this address is marked default for Shipping or Billing. Enter up to 50 characters.",
            "nullable": true
          },
          "city": {
            "title": "City",
            "type": "string",
            "description": "Enter the city the way it should appear on all forms except checks.",
            "nullable": true
          },
          "addr1": {
            "title": "Address 1",
            "type": "string",
            "description": "Enter the address the way it should appear on forms. For employees, customers, partners, and vendors, what you enter here autofills on forms if this address is marked default for Shipping or Billing. Enter up to 50 characters. This field is required for the Online Bill Pay feature.",
            "nullable": true
          },
          "lastModifiedDate": {
            "title": "Last Modified Date",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "addr3": {
            "title": "Address 3",
            "type": "string",
            "nullable": true
          },
          "externalId": {
            "title": "External ID",
            "type": "string",
            "nullable": true
          },
          "addrPhone": {
            "title": "Phone",
            "type": "string",
            "description": "Enter the phone number.",
            "nullable": true
          },
          "addressee": {
            "title": "Addressee",
            "type": "string",
            "description": "Enter the name of the entity that should appear on the shipping label here. This name appears on the shipping label below what you enter in the Attention field.",
            "nullable": true
          },
          "attention": {
            "title": "Attention",
            "type": "string",
            "description": "Enter the name of the person to whom a shipment is addressed, as it should appear on shipping labels. This field is required for UPS Integration.",
            "nullable": true
          },
          "override": {
            "title": "Override",
            "type": "boolean",
            "description": "Check this box to disable the free-form address text field. When this field is disabled, text entered in the other address fields does not display in the Address text field. Clear this box to allow text entered in the address component fields to appear in the free-form address text field."
          },
          "state": {
            "title": "State/Province",
            "type": "string",
            "description": "Enter your company&apos;s state or province the way it should appear on all forms except checks.",
            "nullable": true
          },
          "addrText": {
            "title": "Address",
            "type": "string",
            "description": "The values entered in the other address fields are displayed here.",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          }
        },
        "x-ns-filterable": []
      },
      "creditMemoCollection": {
        "type": "object",
        "properties": {
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "An array field that represents a collection of elements, for example, sublist lines, multiselect items, or search results.",
            "items": {
              "$ref": "#/components/schemas/creditMemo"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          }
        }
      },
      "creditMemo-accountingBookDetailElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "exchangeRate": {
            "title": "Exchange Rate",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "accountingBook": {
            "$ref": "#/components/schemas/nsResource"
          },
          "subsidiary": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "creditMemo-billingAddress": {
        "type": "object",
        "properties": {
          "zip": {
            "title": "Zip",
            "type": "string",
            "description": "Enter the postal code the way it should appear on all forms except checks.",
            "nullable": true
          },
          "country": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "PR",
                  "PS",
                  "PT",
                  "PW",
                  "PY",
                  "QA",
                  "AD",
                  "AE",
                  "AF",
                  "AG",
                  "AI",
                  "AL",
                  "AM",
                  "AN",
                  "AO",
                  "AQ",
                  "AR",
                  "AS",
                  "AT",
                  "RE",
                  "AU",
                  "AW",
                  "AX",
                  "AZ",
                  "RO",
                  "BA",
                  "BB",
                  "RS",
                  "BD",
                  "BE",
                  "RU",
                  "BF",
                  "BG",
                  "RW",
                  "BH",
                  "BI",
                  "BJ",
                  "BL",
                  "BM",
                  "BN",
                  "BO",
                  "SA",
                  "BQ",
                  "SB",
                  "BR",
                  "SC",
                  "BS",
                  "SD",
                  "BT",
                  "SE",
                  "BV",
                  "SG",
                  "BW",
                  "SH",
                  "SI",
                  "BY",
                  "SJ",
                  "BZ",
                  "SK",
                  "SL",
                  "SM",
                  "SN",
                  "SO",
                  "CA",
                  "SR",
                  "CC",
                  "SS",
                  "CD",
                  "ST",
                  "CF",
                  "SV",
                  "CG",
                  "CH",
                  "SX",
                  "CI",
                  "SY",
                  "SZ",
                  "CK",
                  "CL",
                  "CM",
                  "CN",
                  "CO",
                  "CR",
                  "TC",
                  "CS",
                  "TD",
                  "CU",
                  "TF",
                  "CV",
                  "TG",
                  "CW",
                  "TH",
                  "CX",
                  "CY",
                  "TJ",
                  "CZ",
                  "TK",
                  "TL",
                  "TM",
                  "TN",
                  "TO",
                  "TR",
                  "TT",
                  "DE",
                  "TV",
                  "TW",
                  "DJ",
                  "TZ",
                  "DK",
                  "DM",
                  "DO",
                  "UA",
                  "UG",
                  "DZ",
                  "UM",
                  "EA",
                  "EC",
                  "US",
                  "EE",
                  "EG",
                  "EH",
                  "UY",
                  "UZ",
                  "VA",
                  "ER",
                  "VC",
                  "ES",
                  "ET",
                  "VE",
                  "VG",
                  "VI",
                  "VN",
                  "VU",
                  "FI",
                  "FJ",
                  "FK",
                  "FM",
                  "FO",
                  "FR",
                  "WF",
                  "GA",
                  "GB",
                  "WS",
                  "GD",
                  "GE",
                  "GF",
                  "GG",
                  "GH",
                  "GI",
                  "GL",
                  "GM",
                  "GN",
                  "GP",
                  "GQ",
                  "GR",
                  "GS",
                  "GT",
                  "GU",
                  "GW",
                  "GY",
                  "XK",
                  "HK",
                  "HM",
                  "HN",
                  "HR",
                  "HT",
                  "YE",
                  "HU",
                  "IC",
                  "ID",
                  "YT",
                  "IE",
                  "IL",
                  "IM",
                  "IN",
                  "IO",
                  "ZA",
                  "IQ",
                  "IR",
                  "IS",
                  "IT",
                  "ZM",
                  "JE",
                  "ZW",
                  "JM",
                  "JO",
                  "JP",
                  "KE",
                  "KG",
                  "KH",
                  "KI",
                  "KM",
                  "KN",
                  "KP",
                  "KR",
                  "KW",
                  "KY",
                  "KZ",
                  "LA",
                  "LB",
                  "LC",
                  "LI",
                  "LK",
                  "LR",
                  "LS",
                  "LT",
                  "LU",
                  "LV",
                  "LY",
                  "MA",
                  "MC",
                  "MD",
                  "ME",
                  "MF",
                  "MG",
                  "MH",
                  "MK",
                  "ML",
                  "MM",
                  "MN",
                  "MO",
                  "MP",
                  "MQ",
                  "MR",
                  "MS",
                  "MT",
                  "MU",
                  "MV",
                  "MW",
                  "MX",
                  "MY",
                  "MZ",
                  "NA",
                  "NC",
                  "NE",
                  "NF",
                  "NG",
                  "NI",
                  "NL",
                  "NO",
                  "NP",
                  "NR",
                  "NU",
                  "NZ",
                  "OM",
                  "PA",
                  "PE",
                  "PF",
                  "PG",
                  "PH",
                  "PK",
                  "PL",
                  "PM",
                  "PN"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "addr2": {
            "title": "Address 2",
            "type": "string",
            "description": "Enter an optional second address line the way it should appear on forms. For employees, customers, partners, and vendors, what you enter here autofills on forms if this address is marked default for Shipping or Billing. Enter up to 50 characters.",
            "nullable": true
          },
          "city": {
            "title": "City",
            "type": "string",
            "description": "Enter the city the way it should appear on all forms except checks.",
            "nullable": true
          },
          "addr1": {
            "title": "Address 1",
            "type": "string",
            "description": "Enter the address the way it should appear on forms. For employees, customers, partners, and vendors, what you enter here autofills on forms if this address is marked default for Shipping or Billing. Enter up to 50 characters. This field is required for the Online Bill Pay feature.",
            "nullable": true
          },
          "lastModifiedDate": {
            "title": "Last Modified Date",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "addr3": {
            "title": "Address 3",
            "type": "string",
            "nullable": true
          },
          "externalId": {
            "title": "External ID",
            "type": "string",
            "nullable": true
          },
          "addrPhone": {
            "title": "Phone",
            "type": "string",
            "description": "Enter the phone number.",
            "nullable": true
          },
          "addressee": {
            "title": "Addressee",
            "type": "string",
            "description": "Enter the name of the entity that should appear on the shipping label here. This name appears on the shipping label below what you enter in the Attention field.",
            "nullable": true
          },
          "attention": {
            "title": "Attention",
            "type": "string",
            "description": "Enter the name of the person to whom a shipment is addressed, as it should appear on shipping labels. This field is required for UPS Integration.",
            "nullable": true
          },
          "override": {
            "title": "Override",
            "type": "boolean",
            "description": "Check this box to disable the free-form address text field. When this field is disabled, text entered in the other address fields does not display in the Address text field. Clear this box to allow text entered in the address component fields to appear in the free-form address text field."
          },
          "state": {
            "title": "State/Province",
            "type": "string",
            "description": "Enter your company&apos;s state or province the way it should appear on all forms except checks.",
            "nullable": true
          },
          "addrText": {
            "title": "Address",
            "type": "string",
            "description": "The values entered in the other address fields are displayed here.",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          }
        },
        "x-ns-filterable": []
      },
      "creditMemo-itemElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "vsoeIsEstimate": {
            "title": "Estimate",
            "type": "boolean"
          },
          "custcol_svb_bill_distr_exclude": {
            "title": "Bill Distribution Exclude",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "rateSchedule": {
            "title": "Rate Schedule",
            "type": "string",
            "nullable": true
          },
          "custcol_establishment_code": {
            "title": "Establishment Code",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol9": {
            "title": "Display Name",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_5892_eutriangulation": {
            "title": "EU Triangulation",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "quantityCommitted": {
            "title": "Committed",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "giftCertRecipientName": {
            "title": "Recipient Name",
            "type": "string",
            "nullable": true
          },
          "custcol_statistical_value": {
            "title": "Statistical Value",
            "type": "number",
            "format": "double",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "options": {
            "title": "Options",
            "type": "string",
            "nullable": true
          },
          "custcol1": {
            "title": "Terms",
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_sii_annual_prorate": {
            "title": "Annual Prorate",
            "type": "number",
            "format": "double",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_2663_isperson": {
            "title": "Is Person",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "oqpBucket": {
            "title": "Oqp Bucket",
            "type": "string",
            "nullable": true
          },
          "quantityOnHand": {
            "title": "On Hand",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "vsoeAmount": {
            "title": "Calculated Amount",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "isDropShipment": {
            "title": "Drop Shipment",
            "type": "boolean"
          },
          "itemSubtype": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "Sale",
                  "Purchase",
                  "Resale"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custcol_country_of_origin_name": {
            "title": "Country of Origin",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_svb_dist_alloc_det_hidden": {
            "title": "Recent Distribution Details [Hidden]",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_svb_vend_bill_lineno": {
            "title": "Line #",
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "vsoeAllocation": {
            "title": "Allocation Amount",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "custcol_sii_service_date": {
            "title": "Service Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "matrixType": {
            "title": "Matrix Type",
            "type": "string",
            "nullable": true
          },
          "isOpen": {
            "title": "Is Opened",
            "type": "boolean"
          },
          "line": {
            "title": "Transaction Line",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "description": {
            "title": "Description",
            "type": "string",
            "nullable": true
          },
          "isClosed": {
            "title": "Closed",
            "type": "boolean"
          },
          "units": {
            "title": "Units",
            "type": "string",
            "nullable": true
          },
          "custcol_adjustment_field": {
            "title": "Adjustment Field",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_statistical_value_base_curr": {
            "title": "Statistical Value - Base Currency",
            "type": "number",
            "format": "double",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custcol_country_of_origin_code": {
            "title": "Country of Origin Code",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "rate": {
            "title": "Rate",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "marginal": {
            "title": "Marginal",
            "type": "boolean"
          },
          "custcol_2663_lastname": {
            "title": "Last Name",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "giftCertRecipientEmail": {
            "title": "Recipient Email",
            "type": "string",
            "nullable": true
          },
          "linked": {
            "title": "Linked",
            "type": "boolean"
          },
          "minQty": {
            "title": "Minimum Quantity",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "printItems": {
            "title": "Print Items",
            "type": "boolean"
          },
          "custcol_counterparty_vat": {
            "title": "Counterparty VAT Number",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "amount": {
            "title": "Amount",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "quantity": {
            "title": "Quantity",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "initOqpBucket": {
            "title": "Initial OQP Bucket",
            "type": "string",
            "nullable": true
          },
          "custcol_2663_firstname": {
            "title": "First Name",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "giftCertFrom": {
            "title": "From",
            "type": "string",
            "nullable": true
          },
          "processedByRevCommit": {
            "title": "Processed by Rev Commit",
            "type": "boolean"
          },
          "orderLine": {
            "title": "Order Line",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "itemType": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "Group",
                  "Description",
                  "Discount",
                  "EndGroup",
                  "GiftCert",
                  "Subtotal",
                  "Service",
                  "ShipItem",
                  "TaxItem",
                  "InvtPart",
                  "Payment",
                  "Expense",
                  "NonInvtPart",
                  "TaxGroup",
                  "Kit",
                  "Markup",
                  "DwnLdItem",
                  "OthCharge",
                  "Assembly",
                  "SubscriPlan"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "quantityAvailable": {
            "title": "Available",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "giftCertMessage": {
            "title": "Gift Message",
            "type": "string",
            "nullable": true
          },
          "custcol_2663_companyname": {
            "title": "Company Name",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "revrec_recurrencetype": {
            "title": "Rev Rec Recurrence Type",
            "type": "string",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_far_trn_relatedasset": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_sii_exempt_line_details": {
            "$ref": "#/components/schemas/nsResource"
          },
          "item": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/nsResource"
              }
            ]
          },
          "location": {
            "$ref": "#/components/schemas/nsResource"
          },
          "account": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_2663_eft_file_format": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_statistical_procedure_sale": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_nature_of_transaction_codes": {
            "$ref": "#/components/schemas/nsResource"
          },
          "department": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_emirate": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_adjustment_tax_code": {
            "$ref": "#/components/schemas/nsResource"
          },
          "subsidiary": {
            "$ref": "#/components/schemas/nsResource"
          },
          "orderDoc": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_svb_item_exp_account": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_statistical_procedure_purc": {
            "$ref": "#/components/schemas/nsResource"
          },
          "class": {
            "$ref": "#/components/schemas/nsResource"
          },
          "chargeType": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_nondeductible_account": {
            "$ref": "#/components/schemas/nsResource"
          },
          "custcol_expense_code_of_supply": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "creditMemo-applyElement": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "total": {
            "title": "Orig. Amt.",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "amount": {
            "title": "Payment",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "applyDate": {
            "title": "Date",
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "refNum": {
            "title": "Ref No.",
            "type": "string",
            "nullable": true
          },
          "apply": {
            "title": "Apply",
            "type": "boolean"
          },
          "due": {
            "title": "Amt. Due",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "line": {
            "title": "Line Id",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "createdFrom": {
            "title": "Created From",
            "type": "string",
            "nullable": true
          },
          "currency": {
            "title": "Currency",
            "type": "string",
            "nullable": true
          },
          "type": {
            "title": "Type",
            "type": "string",
            "nullable": true
          },
          "refName": {
            "title": "Reference Name",
            "type": "string"
          },
          "doc": {
            "$ref": "#/components/schemas/nsResource"
          }
        },
        "x-ns-filterable": []
      },
      "creditMemo-partnersCollection": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/nsLink"
            }
          },
          "totalResults": {
            "title": "Total Results",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "hasMore": {
            "title": "Has More Results",
            "type": "boolean",
            "readOnly": true
          },
          "offset": {
            "title": "Query Offset",
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/creditMemo-partnersElement"
            }
          }
        }
      },
      "creditMemo": {
        "type": "object",
        "properties": {
          "unapplied": {
            "title": "Unapplied",
            "type": "number",
            "description": "NetSuite displays the remaining amount of credit to be applied.",
            "format": "double",
            "nullable": true
          },
          "custbody1": {
            "title": "Actual Usage",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody3": {
            "title": "Contract Start Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody4": {
            "title": "Roll Back",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "tranDate": {
            "title": "Date",
            "type": "string",
            "description": "NetSuite inserts today&apos;s date as the date of this order. You can type or pick another date.",
            "format": "date",
            "nullable": true
          },
          "memo": {
            "title": "Memo",
            "type": "string",
            "description": "If you wish, enter a memo to describe this credit. It will appear on reports such as the 2-line Accounts Receivable register that your customers can see if you give them permission to log in and view their transaction history.",
            "nullable": true
          },
          "custbody_sii_code_issued_inv": {
            "title": "SII Code Issued Inv",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "startDate": {
            "title": "Start Date",
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "contribPct": {
            "title": "Contribution Percentage",
            "type": "string",
            "nullable": true
          },
          "billCountry": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "PR",
                  "PS",
                  "PT",
                  "PW",
                  "PY",
                  "QA",
                  "AD",
                  "AE",
                  "AF",
                  "AG",
                  "AI",
                  "AL",
                  "AM",
                  "AN",
                  "AO",
                  "AQ",
                  "AR",
                  "AS",
                  "AT",
                  "RE",
                  "AU",
                  "AW",
                  "AX",
                  "AZ",
                  "RO",
                  "BA",
                  "BB",
                  "RS",
                  "BD",
                  "BE",
                  "RU",
                  "BF",
                  "BG",
                  "RW",
                  "BH",
                  "BI",
                  "BJ",
                  "BL",
                  "BM",
                  "BN",
                  "BO",
                  "SA",
                  "BQ",
                  "SB",
                  "BR",
                  "SC",
                  "BS",
                  "SD",
                  "BT",
                  "SE",
                  "BV",
                  "SG",
                  "BW",
                  "SH",
                  "SI",
                  "BY",
                  "SJ",
                  "BZ",
                  "SK",
                  "SL",
                  "SM",
                  "SN",
                  "SO",
                  "CA",
                  "SR",
                  "CC",
                  "SS",
                  "CD",
                  "ST",
                  "CF",
                  "SV",
                  "CG",
                  "CH",
                  "SX",
                  "CI",
                  "SY",
                  "SZ",
                  "CK",
                  "CL",
                  "CM",
                  "CN",
                  "CO",
                  "CR",
                  "TC",
                  "CS",
                  "TD",
                  "CU",
                  "TF",
                  "CV",
                  "TG",
                  "CW",
                  "TH",
                  "CX",
                  "CY",
                  "TJ",
                  "CZ",
                  "TK",
                  "TL",
                  "TM",
                  "TN",
                  "TO",
                  "TR",
                  "TT",
                  "DE",
                  "TV",
                  "TW",
                  "DJ",
                  "TZ",
                  "DK",
                  "DM",
                  "DO",
                  "UA",
                  "UG",
                  "DZ",
                  "UM",
                  "EA",
                  "EC",
                  "US",
                  "EE",
                  "EG",
                  "EH",
                  "UY",
                  "UZ",
                  "VA",
                  "ER",
                  "VC",
                  "ES",
                  "ET",
                  "VE",
                  "VG",
                  "VI",
                  "VN",
                  "VU",
                  "FI",
                  "FJ",
                  "FK",
                  "FM",
                  "FO",
                  "FR",
                  "WF",
                  "GA",
                  "GB",
                  "WS",
                  "GD",
                  "GE",
                  "GF",
                  "GG",
                  "GH",
                  "GI",
                  "GL",
                  "GM",
                  "GN",
                  "GP",
                  "GQ",
                  "GR",
                  "GS",
                  "GT",
                  "GU",
                  "GW",
                  "GY",
                  "XK",
                  "HK",
                  "HM",
                  "HN",
                  "HR",
                  "HT",
                  "YE",
                  "HU",
                  "IC",
                  "ID",
                  "YT",
                  "IE",
                  "IL",
                  "IM",
                  "IN",
                  "IO",
                  "ZA",
                  "IQ",
                  "IR",
                  "IS",
                  "IT",
                  "ZM",
                  "JE",
                  "ZW",
                  "JM",
                  "JO",
                  "JP",
                  "KE",
                  "KG",
                  "KH",
                  "KI",
                  "KM",
                  "KN",
                  "KP",
                  "KR",
                  "KW",
                  "KY",
                  "KZ",
                  "LA",
                  "LB",
                  "LC",
                  "LI",
                  "LK",
                  "LR",
                  "LS",
                  "LT",
                  "LU",
                  "LV",
                  "LY",
                  "MA",
                  "MC",
                  "MD",
                  "ME",
                  "MF",
                  "MG",
                  "MH",
                  "MK",
                  "ML",
                  "MM",
                  "MN",
                  "MO",
                  "MP",
                  "MQ",
                  "MR",
                  "MS",
                  "MT",
                  "MU",
                  "MV",
                  "MW",
                  "MX",
                  "MY",
                  "MZ",
                  "NA",
                  "NC",
                  "NE",
                  "NF",
                  "NG",
                  "NI",
                  "NL",
                  "NO",
                  "NP",
                  "NR",
                  "NU",
                  "NZ",
                  "OM",
                  "PA",
                  "PE",
                  "PF",
                  "PG",
                  "PH",
                  "PK",
                  "PL",
                  "PM",
                  "PN"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custbody_opp_prjredflags": {
            "title": "Potential Red Flags",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_collections_activity_date": {
            "title": "Collections Activity Date",
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_date_of_taxable_supply": {
            "title": "Date of Taxable Supply",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "id": {
            "title": "Internal ID",
            "type": "string",
            "nullable": true
          },
          "custbody_powf_pm_ok": {
            "title": "Project Manager Approval",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "handlingCost": {
            "title": "Handling Cost",
            "type": "number",
            "description": "Enter the amount the customer was charged for handling.",
            "format": "double",
            "nullable": true
          },
          "custbody_sii_land_register": {
            "title": "Land register/Cadaster reference",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "billAddress": {
            "title": "Bill To",
            "type": "string",
            "description": "The default billing address autofills this field from the customer&apos;s record at Lists &gt; Relationships &gt; Customers. . To enter a different address: * Select another address in the Bill To Select field. * Select New in the Bill To Select field to enter a new billing address.",
            "nullable": true
          },
          "endDate": {
            "title": "End Date",
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "subtotal": {
            "title": "Subtotal",
            "type": "number",
            "description": "This field shows the total of the items on this credit memo. This is the total before any discounts, shipping cost, handling cost or tax is added to the order.",
            "format": "double",
            "nullable": true
          },
          "custbody_cash_register": {
            "title": "Cash Register",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "custbody5": {
            "title": "PS Project Baseline Set",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "billAddr1": {
            "title": "Billing Address Line 1",
            "type": "string",
            "nullable": true
          },
          "custbody6": {
            "title": "Project Created",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "amountPaid": {
            "title": "Amount Paid",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "billAddr2": {
            "title": "Billing Address Line 2",
            "type": "string",
            "nullable": true
          },
          "custbody7": {
            "title": "Notes",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "billAddr3": {
            "title": "Billing Address Line 3",
            "type": "string",
            "nullable": true
          },
          "salesReturn": {
            "title": "Sales Return",
            "type": "string",
            "nullable": true
          },
          "shippingCost": {
            "title": "Shipping Cost",
            "type": "number",
            "description": "Enter the amount the customer was charged for shipping.",
            "format": "double",
            "nullable": true
          },
          "status": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "A",
                  "B",
                  "V"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custbody_svb_sched_in_process": {
            "title": "SVB Schedule In Process",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "custbody_powf_ctrl_dt": {
            "title": "Controller Approval Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "asOfDate": {
            "title": "As of Date",
            "type": "string",
            "description": "Type an as of date for this customer credit.",
            "format": "date",
            "nullable": true
          },
          "shipIsResidential": {
            "title": "Shipping address is residential",
            "type": "boolean"
          },
          "createdDate": {
            "title": "Date Created",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "custbody_collections_promised_pmt_date": {
            "title": "Collections Promised Payment Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_sii_code": {
            "title": "SII Code",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "shipOverride": {
            "title": "Override",
            "type": "boolean"
          },
          "discountAmount": {
            "title": "Discount Amount",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "custbody_svb_schedule_is_intercompany": {
            "title": "Schedule Is Intercompany",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "custbody_adjustment_journal": {
            "title": "Adjustment Journal",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "custbody_my_import_declaration_num": {
            "title": "Import Declaration No.",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "email": {
            "title": "Email",
            "type": "string",
            "nullable": true
          },
          "canHaveStackable": {
            "title": "Can Stack Promotions",
            "type": "boolean"
          },
          "webSite": {
            "type": "string",
            "nullable": true
          },
          "custbody_establishment_code": {
            "title": "Establishment Code",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_country_of_origin": {
            "title": "Country of Origin",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "whichChargesToAdd": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "",
                  "ALL",
                  "TRANSACTION_DATE",
                  "AS_OF_DATE"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custbody_sii_not_reported_in_time": {
            "title": "Billing Record Cannot Be Submitted On Time",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "amountRemaining": {
            "title": "Amount Remaining",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "custbody_opp_prjrequirements": {
            "title": "Key Requirements",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "discountRate": {
            "title": "Rate",
            "type": "number",
            "description": "NetSuite enters the rate for the discount item you selected. You can change the discount rate for this cash refund. Enter the discount as a dollar amount like 10.00, or as a percentage like 10%.",
            "format": "double",
            "nullable": true
          },
          "billState": {
            "title": "Billing Address State",
            "type": "string",
            "nullable": true
          },
          "prevDate": {
            "title": "Previous Effective Date",
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "custbody_itr_nexus": {
            "title": "ITR Nexus",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "salesEffectiveDate": {
            "title": "Sales Effective Date",
            "type": "string",
            "description": "You can change the sales effective date for this transaction. The sales effective date determines which commission plan and historical sales team this transaction applies to. If this credit memo is created from a return authorization, the sales effective date from the return shown in the Created From field is set by default for this credit memo.",
            "format": "date",
            "nullable": true
          },
          "customForm": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "213",
                  "94"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "custbody_document_date": {
            "title": "Document Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "altHandlingCost": {
            "title": "Handling Cost",
            "type": "number",
            "description": "The handling cost automatically calculates depending on the shipping method you select in the Ship Via field. To change the cost of handling, go to Lists &gt; Shipping Items and select the shipping method with the handling cost you want to change.",
            "format": "double",
            "nullable": true
          },
          "custbody_powf_pm_dt": {
            "title": "Project Manager Approval Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_report_timestamp": {
            "title": "Report Timestamp",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "prevRep": {
            "title": "Previous Representative",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "custbody_sii_is_third_party": {
            "title": "Issued By Third Party",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "custbody_esc_last_modified_date": {
            "title": "Last Modified Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_sii_invoice_date": {
            "title": "Invoice Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_svb_error_logs": {
            "title": "Shared Vendor Bill Error Logs",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_credit_terms": {
            "title": "Terms",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_sii_registration_msg": {
            "title": "Registration Message",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "shipAddress": {
            "title": "Ship To",
            "type": "string",
            "nullable": true
          },
          "externalId": {
            "title": "External ID",
            "type": "string",
            "nullable": true
          },
          "custbody_sii_accounting_date": {
            "title": "Accounting Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "source": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "SuitePhone",
                  "smbXML",
                  "CSV",
                  "ADP",
                  "QIF",
                  "QB",
                  "PERQUEST",
                  "Yahoo",
                  "PaymentLink",
                  "customerCenter",
                  "webServices",
                  "eBay",
                  "restWebServices",
                  "NLWebStore",
                  "offlineClient",
                  "SCIS",
                  "Sync"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "toBePrinted": {
            "title": "To Be Printed",
            "type": "boolean",
            "description": "Check this box if you wish to save this in a queue of credit memos to print. Otherwise, you can click Print below to submit and print this credit memo at once."
          },
          "billPhone": {
            "title": "Billing Phone",
            "type": "string",
            "nullable": true
          },
          "billOverride": {
            "title": "Override",
            "type": "string",
            "nullable": true
          },
          "billAttention": {
            "title": "Billing Attention",
            "type": "string",
            "nullable": true
          },
          "billingAddress_text": {
            "title": "Billing Address",
            "type": "string",
            "nullable": true
          },
          "custbody_opp_prjstart": {
            "title": "Desired Start Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_sale_billexpdetail": {
            "title": "Billable Expense Detail",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "discountTotal": {
            "title": "Discount Total",
            "type": "number",
            "description": "NetSuite enters the amount discounted on this credit memo. If this discount item is taxable, the discount is applied before taxes. If it is not taxable, the discount is applied after taxes.",
            "format": "double",
            "nullable": true
          },
          "custbody_opportunity_link": {
            "title": "Opportunity Link",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "toBeEmailed": {
            "title": "To Be Emailed",
            "type": "boolean",
            "description": "Check this box if you want to e-mail this credit memo. Then enter the e-mail address in the space to the right of the check box. If you don&apos;t check this box, the credit memo won&apos;t be e-mailed. You can enter multiple e-mail addresses separated by a semicolon with no spaces."
          },
          "custbody_4110_customregnum": {
            "title": "Customs Registration Number",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_sii_ref_no": {
            "title": "Reference No.",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "discountDate": {
            "title": "Discount Date",
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "custbody_sii_article_72_73": {
            "title": "Simplified Invoice Article 7.2 7.3",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "custbody_4599_sg_import_permit_num": {
            "title": "Import Permit No.",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "shippingCostOverridden": {
            "title": "Shipping Cost Overridden",
            "type": "boolean"
          },
          "muccPromoCodeInstance": {
            "title": "Promo Code",
            "type": "string",
            "nullable": true
          },
          "custbody_doc_num_summ_invoice": {
            "title": "Last Document Number Of Summary Invoice",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "otherRefNum": {
            "title": "PO/Check Number",
            "type": "string",
            "description": "For your customers&apos; convenience, you can enter their purchase order number here.",
            "nullable": true
          },
          "applied": {
            "title": "Applied",
            "type": "number",
            "description": "NetSuite displays the amount of credit you applied below.",
            "format": "double",
            "nullable": true
          },
          "exchangeRate": {
            "title": "Exchange Rate",
            "type": "number",
            "description": "The currency&apos;s exchange rate is shown in this field. You can edit the exchange rate for this transaction only, or you can update the currency record with the exchange rate you enter here.",
            "format": "double",
            "nullable": true
          },
          "custbody_sii_external_reference": {
            "title": "External Reference",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_itr_doc_number": {
            "title": "Document Number",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "originator": {
            "title": "Originator",
            "type": "string",
            "nullable": true
          },
          "custbody_2663_reference_num": {
            "title": "ACH/EFT Reference No.",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "billZip": {
            "title": "Billing Address Zip Code",
            "type": "string",
            "nullable": true
          },
          "custbody_sesc_approved": {
            "title": "Approved",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "custbody_esc_created_date": {
            "title": "Created Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "toBeFaxed": {
            "title": "To Be Faxed",
            "type": "boolean",
            "description": "Check this box if you want to fax this credit memo. Enter the fax number in the space to the right of the check box if it doesn&apos;t already appear. To fax NetSuite forms, an administrator must first set up fax service at Setup &gt; Company &gt; Printing, Fax and Email Preferences."
          },
          "total": {
            "title": "Total",
            "type": "number",
            "description": "NetSuite computes the total of line items and tax and then enters it here.",
            "format": "double",
            "nullable": true
          },
          "custbody_sii_article_61d": {
            "title": "Invoice With No Counterpart Article 6.1.d",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "custbody_nondeductible_processed": {
            "title": "Non-Deductible Tax Adjusted",
            "type": "boolean",
            "x-ns-custom-field": true
          },
          "promoCodePluginImpl": {
            "title": "Promo Code",
            "type": "string",
            "nullable": true
          },
          "custbody_reminder": {
            "title": "Reminder",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "shipDate": {
            "title": "Ship Date",
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "shippingAddress_text": {
            "title": "Shipping Address",
            "type": "string",
            "nullable": true
          },
          "tranId": {
            "title": "Credit #",
            "type": "string",
            "description": "NetSuite increases the largest credit memo number by one. If you wish, you can type another number. The next credit memo number will revert to the standard pattern. You can enter a maximum of 45 characters in this field.",
            "nullable": true
          },
          "custbody_counterparty_vat": {
            "title": "Counterparty VAT Number",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_refno_originvoice": {
            "title": "Reference No. of Original Invoice",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_opp_prjopentemplate": {
            "title": "View template",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "custbody_collections_note_id": {
            "title": "Collections Note Id",
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "lastModifiedDate": {
            "title": "Date Last Modified",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "intercoStatus": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Internal identifier",
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  "3"
                ]
              },
              "refName": {
                "title": "Reference Name",
                "type": "string"
              }
            }
          },
          "message": {
            "title": "Client Message",
            "type": "string",
            "description": "Select a customer message that will appear on the Credit Memo form. To add additional choices to this list, go to Setup &gt; Accounting &gt; Accounting Lists &gt; New &gt; Customer Message.",
            "nullable": true
          },
          "amountRemainingTotalBox": {
            "title": "Amount Remaining",
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "custbody_collections_note": {
            "title": "Collections Notes",
            "type": "string",
            "nullable": true,
            "x-ns-custom-field": true
          },
          "billAddressee": {
            "title": "Billing Addressee",
            "type": "string",
            "nullable": true
          },
[...]
